.icon-pad {
    padding-right: 12px;
}

.reminder-name {
    border: 1px solid black;
}

.sorter {
    font-size: 1.2em;
    margin-bottom: 6px;
}

textarea {
    resize: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}