.icon-pad {
    padding-right: 12px;
}

.reminder-name {
    border: 1px solid black;
}

textarea {
    resize: none;
}

.no-list-style {
    list-style: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}