.icon-pad {
    padding-right: 12px;
}

.reminder-name {
    border: 1px solid black;
}

.controls {
    font-size: 1.2em;
    margin-bottom: 6px;
}

textarea {
    resize: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.remind-todo select {
    display: initial;
    background-color: transparent;
    color: white;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    cursor: pointer;
    color: black;
}

.purchase-item {
    padding: 0;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: darkgray;
    overflow: hidden;
}

.purchase-item-l {
    border-top-left-radius: 30px;
}

.purchase-item-r {
    border-top-right-radius: 30px;
}

.purchase-item-l:hover {
    -webkit-box-shadow: 0 0 10px 1px rgba(143,182,119,1);
    -moz-box-shadow: 0 0 10px 1px rgba(143,182,119,1);
    box-shadow: 0 0 10px 1px rgba(143,182,119,1);
}

.purchase-item-r:hover {
    -webkit-box-shadow: 0 0 10px 1px rgba(0,224,243,1);
    -moz-box-shadow: 0 0 10px 1px rgba(0,224,243,1);
    box-shadow: 0 0 10px 1px rgba(0,224,243,1);
}

.cookie-alert {
    border-radius: 10px;
    border-style: solid;
    z-index: 9999;
    position: fixed;
    color: #fff;
    font-size: 2rem;
    background-color: #222;
    width: 95%;
    left: 2.5%;
    bottom: 5px;
    padding: 10px;
}

.vertical-divider {
    margin-left: 10px;
    margin-right: 10px;
}