<li class="list-group-item" data-id="{{ alias_id }}">
    <form class="form-inline" style="display: flex; flex-flow: row;">
        <div class="form-group" style="flex: 0 4 auto;">
            <label for="name-{{ alias_id }}" class="sr-only">Alias name</label>
            <input type="text" class="form-control name-input no-spaces" id="name-{{ alias_id }}" value="{{ alias_name }}" style="width: 100%;" maxlength="12" autocomplete="off">
        </div>

        <div class="form-group" style="flex: 1 1 auto;">
            <label for="command-{{ alias_id }}" class="sr-only">Aliased command</label>
            <input type="text" class="form-control command-input" id="command-{{ alias_id }}" value="{{ alias_command }}" style="width: 100%;" maxlength="2048" autocomplete="off">
        </div>

        <div class="form-group" style="flex: 0 0 auto;">
            <button class="btn btn-success save-alias"><i class="fas fa-save"></i></button>
            <button class="btn btn-danger delete-alias"><i class="fas fa-times"></i></button>
        </div>
    </form>
</li>