<li class="list-group-item" data-id="{{ channel_id }}">
    <form class="form-inline" style="display: flex; flex-flow: row;">
        <div style="flex: 1 0 auto;">
            <div class="form-control" style="width: 100%;">
                <i class="fad fa-comment-alt-slash"></i> {{ channel_name }}
            </div>
        </div>

        <div class="form-group" style="flex: 0 0 auto;">
            <button class="btn btn-danger delete-blacklist"><i class="fas fa-times"></i></button>
        </div>
    </form>
</li>