{% extends "dashboard_base.html" %}
{% block content %}

    <section class="content-header">
        <h1>
            <strong>{{ guild.name }}</strong>: Settings
        </h1>
    </section>

    <section class="content">

        <h2>Command Permissions</h2>
        <ul class="list-group" style="width: 100%; max-width: 100%">
            {% for command in ('todos', 'natural', 'remind', 'interval', 'timer', 'del', 'look') %}
                <li class="list-group-item" style="display: flex; flex-flow: row; justify-content: space-between;" data-command="{{ command }}">
                    <div style="flex: 0 0 auto; margin-right: 6px;">
                        {{ command }}
                    </div>

                    <div class="restrictions-container hidden-xs" style="flex: 1 1 auto; white-space: nowrap; overflow-x: scroll;">
                        {% for restriction in command_restrictions.filter_by(command=command) %}
                            <span class="badge role-permitted" data-role-id="{{ restriction.role_id }}">
                                {{ restriction.role.display_name() }}
                            </span>
                        {% endfor %}
                    </div>

                    <div style="flex: 0 0 auto; margin-left: 6px;">
                        <a class="badge add-role" id="add-roles-{{ command }}" style="background-color: #007bff;" href="#role-modal" data-toggle="modal">
                            Edit Roles
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <h2>Command Aliases</h2>
        <div id="error" style="color: red;"></div>
        <ul class="list-group" style="width: 100%;">
            {% for alias in guild.aliases %}
                <li class="list-group-item" data-id="{{ alias.id }}">
                    <form class="form-inline" style="display: flex; flex-flow: row;">
                        <div class="form-group" style="flex: 0 1 auto;">
                            <label for="name-{{ alias.id }}" class="sr-only">Alias name</label>
                            <input type="text" class="name-input" id="name-{{ alias.id }}" value="{{ alias.name }}" maxlength="12" autocomplete="off">
                        </div>

                        <div class="form-group" style="flex: 1 1 auto;">
                            <label for="command-{{ alias.id }}" class="sr-only">Aliased command</label>
                            <input type="text" class="command-input" id="command-{{ alias.id }}" value="{{ alias.command }}" style="width: 100%;" maxlength="2048" autocomplete="off">
                        </div>

                        <div class="form-group" style="flex: 0 1 auto;">
                            <button class="btn btn-danger delete-alias">Delete</button>
                            <button class="btn btn-success save-alias">Save</button>
                        </div>
                    </form>
                </li>
            {% endfor %}

            <li class="list-group-item">
                <form class="form-inline" style="display: flex; flex-flow: row;" >
                    <div class="form-group" style="flex: 0 1 auto;">
                        <label for="name" class="sr-only">Alias name</label>
                        <input type="text" class="name-input" id="name" value="" maxlength="12" placeholder="Alias" autocomplete="off">
                    </div>

                    <div class="form-group" style="flex: 1 1 auto;">
                        <label for="command" class="sr-only">Aliased command</label>
                        <input type="text" class="command-input" id="command" value="" style="width: 100%;" placeholder="Command..." autocomplete="off">
                    </div>

                    <div class="form-group" style="flex: 0 1 auto;">
                        <button class="btn btn-success create-alias">Create</button>
                    </div>
                </form>
            </li>
        </ul>

        <div class="modal fade" id="role-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Roles for <strong id="command-name"></strong></h4>
                    </div>
                    <div class="modal-body">
                        <div class="role-controller" data-command="">
                            {% for role in guild.roles %}
                                <div class="input-group" style="display: flex; flex-flow: row; justify-content: space-between; max-width: 100%; width: 100%;">
                                    <div class="input-group-addon" style="flex: 1 1 auto; overflow: hidden;">
                                        <label for="role-selector-{{ role.id }}">{{ role.display_name() }}</label>
                                    </div>
                                    <div class="input-group-addon" style="flex: 0 0 initial;">
                                        <input type="checkbox" class="role-selector" id="role-selector-{{ role.id }}" data-role-id="{{ role.id }}">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="save-restrictions">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script>

const ROLES = {
    {% for role in guild.roles %}
        "{{ role.id }}": "{{ role.display_name() }}",
    {% endfor %}
}

'use strict';

$('#role-modal').on('show.bs.modal', function (event) {
    let $trigger = $(event.relatedTarget);
    let $role_controller = $(this).find('div.role-controller');

    let current_roles = $trigger.closest('.restrictions-container').find('.role-permitted').toArray().map(function (i) {
        return Number(i.dataset.roleId);
    });

    let command = $trigger.closest('li').data('command');

    $role_controller.data('command', command);
    $('#command-name').text(command)

    $role_controller.find('input.role-selector').each(function () {
        if (current_roles.includes($(this).data('role-id'))) {
            $(this).prop('checked', true);
        }
        else {
            $(this).prop('checked', false);
        }
    });
});

$('#save-restrictions').on('click', function () {
    let command = $(this).closest('.modal-content').find('.role-controller').data('command');

    let active_roles = $(this).closest('.modal-content').find('.role-selector:checked').toArray().map(
        function (item) {
            return item.dataset.roleId;
        });

    $.ajax({
        url: "{{ url_for('change_restrictions') }}",
        data: JSON.stringify({guild_id: {{ guild.id }}, command: command, roles: active_roles}),
        contentType: 'application/json; charset=utf-8',
        method: 'PATCH',

        success: function () {
            $('#role-modal').modal('hide');

            let $add_button = $(`#add-roles-${command}`);

            $add_button.siblings().remove()

            let role;
            for (role of active_roles) {
                $add_button.before(`<span class="badge role-permitted" data-role-id="${role}">${ROLES[role]}</span> `);
            }
        }
    })
});

$(document).on('click', '.delete-alias', function (event) {
    event.preventDefault();

    let $li = $(this).closest('li');

    $.ajax({
        url: "{{ url_for('change_aliases') }}",
        data: JSON.stringify({guild_id: {{ guild.id }}, id: $li.data('id')}),
        contentType: 'application/json; charset=utf-8',
        method: 'DELETE',

        success: function () {
            $li.remove();
        }
    })
});

$(document).on('click', '.save-alias', function (event) {
    event.preventDefault();

    let $li = $(this).closest('li');

    let name = $li.find('.name-input');
    let command = $li.find('.command-input');

    $.ajax({
        url: "{{ url_for('change_aliases') }}",
        data: JSON.stringify({guild_id: {{ guild.id }}, id: $li.data('id'), name: name.val(), command: command.val()}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        error: function (response) {
            $('#error').text(response.responseText);
        }
    });
});

$('.create-alias').on('click', function (event) {
    event.preventDefault();

    let $li = $(this).closest('li');

    let name = $li.find('.name-input');
    let command = $li.find('.command-input');

    $.ajax({
        url: "{{ url_for('change_aliases') }}",
        data: JSON.stringify({guild_id: {{ guild.id }}, name: name.val(),command: command.val() }),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function (response, _a, _b) {
            let id = response.id;

            $li.before(`<li class="list-group-item" data-id="${id}">
    <form class="form-inline" style="display: flex; flex-flow: row;">
        <div class="form-group" style="flex: 0 1 auto;">
            <label for="name-${id}" class="sr-only">Alias name</label>
            <input type="text" class="name-input" id="name-${id}" value="${response.name}" maxlength="12" autocomplete="off">
        </div>

        <div class="form-group" style="flex: 1 1 auto;">
            <label for="command-${id}" class="sr-only">Aliased command</label>
            <input type="text" class="command-input" id="command-${id}" value="${response.command}" style="width: 100%" maxlength="2048" autocomplete="off">
        </div>

        <div class="form-group" style="flex: 0 1 auto;">
            <button class="btn btn-danger delete-alias">Delete</button>
            <button class="btn btn-success save-alias">Save</button>
        </div>
    </form>
</li>`);

            name.val('');
            command.val('');
        },

        error: function (resp) {
            $('#error').text(resp.responseText);
        },
    })
});

    </script>

{% endblock %}