{% extends "dashboard_base.html" %}
{% block content %}

    <style>

#embed_options {
    overflow: hidden;
}

    </style>

    <section class="content">

        <div class="container" style="width: 100%;">
            <div class="row" style="width: 100%;">
                <div class="col-sm-1 col-lg-2 hidden-xs">

                </div>
                <div class="col-sm-10 col-lg-8 col-xs-12">
                    <h1>
                        Advanced Message Editor
                    </h1>

                    <form method="POST" action="{{ url_for('update_message', guild_id=guild.guild, reminder_uid=reminder_uid) }}" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="message_content">Message Content</label>

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </div>

                                <textarea name="message_content" maxlength="2048" id="message_content" class="form-control" rows="4">{{ message.content }}</textarea>
                            </div>

                        </div>

                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-file-upload"></i>
                                    <label for="attachment_provided">Add Attachment</label>
                                </div>
                                <div class="input-group-addon">
                                    <input type="checkbox" name="attachment_provided" id="attachment_provided" {{ 'checked' if message.attachment != None else '' }} autocomplete="off"/>
                                </div>
                            </div>

                            {% if message.attachment != None %}
                                <a href="{{ url_for('download_attachment', reminder_uid=reminder_uid) }}" download="{{ message.attachment_name }}">
                                    Download current attachment ({{ message.attachment_name }})
                                </a>
                            {% endif %}

                            <div class="input-group file-input"
                                 {% if message.attachment == None %}
                                 style="display: none;"
                                 {% endif %}>
                                <div class="input-group-addon">
                                    <i class="fa fa-file-upload"></i>
                                </div>

                                <input type="file" name="file" id="file" class="form-control-file">
                            </div>

                        </div>

                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="far fa-comment-alt"></i>
                                    <label for="tts">Use Discord TTS?</label>
                                </div>
                                <div class="input-group-addon">
                                    <input type="checkbox" name="tts" id="tts" {{ 'checked' if message.tts else '' }}/>
                                </div>
                            </div>
                            <div {% if not message.tts %}
                                 style="display: none;"
                                 {% endif %} class="warning form-group">

                                <i class="fa fa-exclamation-triangle"></i>
                                Please Note: TTS does not work on all platforms. This is not to do with Reminder Bot, but to do with Discord and the computer itself.
                                You can read more <a href="https://support.discordapp.com/hc/en-us/articles/212517297-Text-to-Speech-101">here</a>
                            </div>

                        </div>

                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-code"></i>
                                    <label for="embedded">Attach Embed?</label>
                                </div>
                                <div class="input-group-addon">
                                    <input type="checkbox" name="embedded" id="embedded" onchange="embed_options_display()" {{ 'checked' if message.embed != None else '' }}/>
                                </div>
                            </div>

                        </div>

                        <div id="embed_options" style="padding-left: 12px">
                            <div class="colorpicker-component">
                                <div class="form-group">
                                    <label for="color">Embed Color</label>

                                    <div class="input-group">

                                        <div class="input-group-addon">
                                            <i class="fas fa-palette"></i>
                                        </div>

                                        <div id="cp" class="cp input-group colorpicker-component">

                                            <input type="text" value="#{{ '8FB677' if message.embed == None else hex(message.embed.color) }}" class="form-control" name="embed_color" id="color" />

                                            <span class="input-group-addon">
                                                <i class="fas fa-eye-dropper"></i>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <script>

$(function() {
    $('.cp').colorpicker({"format": "hex"});
});

function embed_options_display() {
    if (document.getElementById("embedded").checked) {
        document.getElementById("embed_options").style.height = "auto";
    }
    else {
        document.getElementById("embed_options").style.height = "0";
    }
}

embed_options_display();

                            </script>

                            <div class="form-group">
                                <label for="embed_title">Embed Title</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-heading"></i>
                                    </div>

                                    <input name="embed_title" maxlength="256" id="embed_title" class="form-control" value="{{ message.embed.title }}" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="embed_description">Embed Description</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-file-alt"></i>
                                    </div>

                                    <textarea name="embed_description" maxlength="2048" id="embed_description" class="form-control" rows="6">{{ message.embed.description }}</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="embed_footer">Embed Footer</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-file-code"></i>
                                    </div>

                                    <textarea name="embed_footer" maxlength="2048" id="embed_footer" class="form-control">{{ message.embed.footer }}</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="embed_image">Embed Image</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-image"></i>
                                    </div>

                                    <input name="embed_image" maxlength="512" id="embed_image" class="form-control no-spaces" value="{{ message.embed.image_url or '' }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="embed_image">Thumbnail Image</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-image"></i>
                                    </div>

                                    <input name="embed_thumbnail" maxlength="512" id="embed_image" class="form-control no-spaces" value="{{ message.embed.thumbnail_url or '' }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="embed_footer_icon">Embed Footer Icon</label>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-code"></i>
                                    </div>

                                    <input name="embed_footer_icon" maxlength="512" id="embed_footer_icon" class="form-control no-spaces" value="{{ message.embed.footer_icon or '' }}">
                                </div>
                            </div>

                            <label>Fields:</label>

                            <div style="padding-left: 12px;" id="fields-container">
                                {% if message.embed != None %}
                                    {% for field in message.embed.fields %}
                                        {% set field_title = field.title %}
                                        {% set field_value = field.value %}
                                        {% set field_inline = field.inline %}

                                        {% include "reminder_dashboard/advanced_message_editor/embed_field.html" %}
                                    {% endfor %}

                                    {% if message.embed.fields.count() < 25 %}
                                        {% set field_title = "" %}
                                        {% set field_value = "" %}
                                        {% set field_inline = false %}

                                        {% include "reminder_dashboard/advanced_message_editor/embed_field.html" %}

                                        <button id="add-field" class="btn btn-primary">Add Another Field</button>
                                    {% endif %}
                                {% else %}
                                    {% set field_title = "" %}
                                    {% set field_value = "" %}
                                    {% set field_inline = false %}

                                    {% include "reminder_dashboard/advanced_message_editor/embed_field.html" %}
                                {% endif %}
                            </div>
                        </div>

                        <br>

                        <div class="form-group">
                            <input class="form-control btn btn-primary" type="submit" value="Update Message" />
                        </div>

                    </form>

                    <div class="input-group" id="mention-dropdown" style="display: none;">
                        <div class="input-group-addon">
                            <i class="fas fa-at"></i>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Mention... (tip: use a double @ to mention roles)
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown-mention" style="max-height: 40vh; overflow-y: scroll;">
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script>

'use strict';

$('#tts').change(function () {
    let warning_message = $(this).closest('.form-group').find('.warning');

    if ($(this).prop('checked')) {
        warning_message.show();
    }
    else {
        warning_message.hide();
    }
});

$('#attachment_provided').change(function () {
    let file_input = $(this).closest('.form-group').find('.file-input');

    if ($(this).prop('checked')) {
        file_input.show();
    }
    else {
        file_input.hide();
    }
});

function mention(id, prefix, element_id) {
    let $activeElement = $(`#${element_id}`);

    console.log($activeElement);

    let val = $activeElement.val().slice(0, -1);

    if ( val.slice(-1) === '@' ) {
        val = val.slice(0, -1);
    }

    val += `<${prefix}${id}>`;

    $activeElement.val(val);
}

const channels = [
    {% for channel in guild.channels %}
        {name: "{{ channel.name.replace('\\', '')[:32] }}", id: "{{ channel.channel }}"},
    {% endfor %}
];

const members = [
    {% for m in guild.users %}
        {name: "{{ m.name.replace('\\', '').lower()[:32] }}", id: "{{ m.user }}"},
    {% endfor %}
];

const roles = [
    {% for role in guild.roles %}
        {name: "@{{ role.display_name().replace('\\', '').lower()[:32] }}", id: "{{ role.role }}"},
    {% endfor %}
];


$('textarea').on('keyup', function() {
    // split text into actual words
    let all_words = $(this).val().split(/\s+/);

    // remove final word
    let final_word = all_words.pop();

    let search_name;
    let associated_set;
    let prefix;

    let show_dropdown = false;

    // show roles if word starts with @@
    if ( final_word.startsWith('@@') ) {
        search_name = final_word.slice(2);
        prefix = '@&';
        associated_set = roles;
        show_dropdown = true;
    }
    // show users if word starts with single @
    else if ( final_word.startsWith('@') ) {
        search_name = final_word.slice(1);
        prefix = '@';
        associated_set = members;
        show_dropdown = true;
    }
    // show channels if #
    else if ( final_word.startsWith('#') ) {
        search_name = final_word.slice(1);
        prefix = '#';
        associated_set = channels;
        show_dropdown = true;
    }

    let $dropdown = $('#mention-dropdown');

    if (show_dropdown) {
        let this_id = $(this).attr('id');

        let filtered_set = associated_set.filter(function(item) { return item.name.startsWith(search_name); });

        let mapped_set = filtered_set.map(function(item) {
            return `<li><a onclick="mention('${item.id}', '${prefix}', '${this_id}')">${item.name}</a></li>`
        });

        $dropdown.show();
        $dropdown.find('ul').empty().append(mapped_set);
    }
    else {
        $dropdown.hide();
    }
});

$(document).on('change', '.field-inline-disp', function () {
    if ($(this).prop('checked')) {
        $(this).closest('.input-group-addon').find('.field-inline').val('true');
    }
    else {
        $(this).closest('.input-group-addon').find('.field-inline').val('false');
    }
});

$('#add-field').on('click', function (event) {
    event.preventDefault();

    let count = $('.field-entry').length;

    console.log(count);

    if (count < 25) {
        {% set field_title = '' %}
        {% set field_value = '' %}
        {% set field_inline = False %}

        $(this).before(`{% include "reminder_dashboard/advanced_message_editor/embed_field.html" %}`);

        if (count === 24) {
            $(this).hide();
        }
    }
    else {
        $(this).hide();
    }
});

    </script>

{% endblock %}