{% extends "dashboard_base.html" %}
{% block content %}

    <section class="content-header">
        <h1>
            <strong>{{ guild.name }}</strong>: Todo Lists
        </h1>
    </section>

    <section class="content">

        <div class="input-group" style="width: 35%;">
            <div class="input-group-addon">
                <label for="show-empty">Show Empty Channels</label>
            </div>
            <div class="input-group-addon">
                <input type="checkbox" id="show-empty">
            </div>
        </div>

        <h2>Server Todo</h2>
        <ul class="list-group" style="width: 100%;" data-channel="-1">
        {% for todo_item in global_todos %}
            {% set todo_id = todo_item.id %}
            {% set todo_value = todo_item.value %}
            {% include "todo_dashboard/todo_item.html" %}
        {% endfor %}

        {% include "todo_dashboard/todo_create.html" %}
        </ul>

        {% for channel in guild.channels %}
            <h2>#{{ channel.name }} Todo</h2>
            <ul class="list-group" style="width: 100%" data-channel="{{ channel.id }}">
            {% for todo_item in channel.todo_list %}
                {% set todo_id = todo_item.id %}
                {% set todo_value = todo_item.value %}
                {% include "todo_dashboard/todo_item.html" %}
            {% endfor %}

            {% include "todo_dashboard/todo_create.html" %}
            </ul>
        {% endfor %}

    </section>

    <script>

'use strict';

$('.delete-todo').on('click', function (event) {
    event.preventDefault();

    let $li = $(this).closest('li');

    let channel_id = $(this).closest('ul').data('channel');
    let todo_id = $li.data('todo');

    $.ajax({
        url: {{ url_for('alter_todo') }},
        data: JSON.stringify({guild_id: {{ guild.id }}, channel_id: channel_id, todo_id: todo_id}),
        contentType: 'application/json; charset=utf-8',
        method: 'DELETE',

        success: function () {
            $li.remove();
        }
    });
});

$('.create-todo').on('click', function (event) {
    event.preventDefault();

    let $li = $(this).closest('li');

    let channel_id = $(this).closest('ul').data('channel');
    let value = $(this).closest('ul').find('input.todo-new').val();

    $.ajax({
        url: {{ url_for('alter_todo') }},
        data: JSON.stringify({guild_id: {{ guild.id }}, channel_id: channel_id, value: value}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function (response) {
            let todo_id = response.id;
            let todo_value = value;

            $li.before(
                {% set todo_id = '${todo_id}' %}
                {% set todo_value = '${todo_value}' %}
                `{% include "todo_dashboard/todo_item.html" %}`
            )

            $li.find('input').val('');
        }
    });
});

$('.save-todo').on('click', function (event) {
    event.preventDefault();

    let channel_id = $(this).closest('ul').data('channel');
    let todo_id = $(this).closest('li').data('todo');
    let value = $(this).closest('li').find('input.todo-value').val();

    $.ajax({
        url: {{ url_for('alter_todo') }},
        data: JSON.stringify({guild_id: {{ guild.id }}, channel_id: channel_id, todo_id: todo_id, value: value}),
        contentType: 'application/json; charset=utf-8',
        method: 'PATCH',
    });
});

    </script>

{% endblock %}