<li class="list-group-item" data-todo="{{ todo_item.id }}">
    <form class="form-inline" style="display: flex; flex-flow: row;" >
        <div class="form-group" style="flex: 1 1 auto;">
            <label for="todo-{{ todo_item.id }}" class="sr-only">Todo item</label>
            <input
                    type="text"
                    class="todo-{{ todo_item.id }}"
                    id="todo-{{ todo_item.id }}"
                    value="{{ todo_item.value }}"
                    style="width: 100%;"
                    maxlength="2000"
                    autocomplete="off">
        </div>

        <div class="form-group" style="flex: 0 0 auto;">
            <button class="btn btn-danger delete-todo">Delete</button>
        </div>
    </form>
</li>