{% extends "dashboard_base.html" %}
{% block content %}

    <section class="content-header">
        <h1>
            <strong>{{ guild.name }}</strong>: Todo Lists
        </h1>
    </section>

    <section class="content">

        <div class="input-group" style="width: 35%;">
            <div class="input-group-addon">
                <label for="show-empty">Show Empty Channels</label>
            </div>
            <div class="input-group-addon">
                <input type="checkbox" id="show-empty">
            </div>
        </div>

        <div class="todo-group">
            <h2>Server Todo</h2>
            <ul class="list-group" style="width: 100%;" data-channel="-1">
            {% for todo_item in global_todos %}
                {% set todo_id = todo_item.id %}
                {% set todo_value = todo_item.value %}
                {% include "todo_dashboard/todo_item.html" %}
            {% endfor %}

            {% include "todo_dashboard/todo_create.html" %}
            </ul>
        </div>

        {% for channel in guild.channels %}
            <div class="todo-group">
                <h2>#{{ channel.name }} Todo</h2>
                <ul class="list-group" style="width: 100%" data-channel="{{ channel.id }}">
                {% for todo_item in channel.todo_list %}
                    {% set todo_id = todo_item.id %}
                    {% set todo_value = todo_item.value %}
                    {% include "todo_dashboard/todo_item.html" %}
                {% endfor %}

                {% include "todo_dashboard/todo_create.html" %}
                </ul>
            </div>
        {% endfor %}

    </section>

    <script>

'use strict';

function display_empty(element) {
    let checked = element.prop('checked');

    if (checked) {
        $('div.todo-group').show();
    } else {
        $('ul').each(function () {
            if ($(this).find('.todo-item').length === 0) {
                $(this).closest('div.todo-group').hide()
            }
        });
    }
}

$('#show-empty').on('change', function () {
    display_empty($(this));
});

$(function () {
    display_empty($('#show-empty'));
});

$(document).on('click', '.delete-todo', function (event) {
    event.preventDefault();

    let $li = $(this).closest('li');

    let channel_id = $(this).closest('ul').data('channel');
    let todo_id = $li.data('todo');

    $.ajax({
        url: {{ url_for('alter_todo') }},
        data: JSON.stringify({guild_id: {{ guild.id }}, channel_id: channel_id, todo_id: todo_id}),
        contentType: 'application/json; charset=utf-8',
        method: 'DELETE',

        success: function () {
            $li.remove();
        }
    });
});

$('.create-todo').on('click', function (event) {
    event.preventDefault();

    let $li = $(this).closest('li');

    let channel_id = $(this).closest('ul').data('channel');
    let value = $(this).closest('ul').find('input.todo-new').val();

    $.ajax({
        url: {{ url_for('alter_todo') }},
        data: JSON.stringify({guild_id: {{ guild.id }}, channel_id: channel_id, value: value}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function (response) {
            let todo_id = response.id;
            let todo_value = value;

            $li.before(
                {% set todo_id = '${todo_id}' %}
                {% set todo_value = '${todo_value}' %}
                `{% include "todo_dashboard/todo_item.html" %}`
            )

            $li.find('input').val('');
        }
    });
});

$('.todo-reminder-time').on('change', function (event) {
    event.preventDefault();

    let time = Number($(this).val());

    if (!isNaN(time)) {
        let select = $(this);

        let todo_id = $(this).closest('.todo-item').data('todo');

        $.ajax({
            url: {{ url_for('create_todo_reminder') }},
            data: JSON.stringify({guild_id: {{ guild.id }}, todo_id: todo_id, time: time}),
            contentType: 'application/json; charset=utf-8;',
            method: 'POST',

            success: function () {
                select.val('created');

                setTimeout(function () {
                    select.val('default');
                }, 4000);
            }
        })
    }
});

$(document).on('click', '.save-todo', function (event) {
    event.preventDefault();

    let channel_id = $(this).closest('ul').data('channel');
    let todo_id = $(this).closest('li').data('todo');
    let value = $(this).closest('li').find('input.todo-value').val();

    $.ajax({
        url: {{ url_for('alter_todo') }},
        data: JSON.stringify({guild_id: {{ guild.id }}, channel_id: channel_id, todo_id: todo_id, value: value}),
        contentType: 'application/json; charset=utf-8',
        method: 'PATCH',
    });
});

    </script>

{% endblock %}