<li class="list-group-item">
    <form class="form-inline" style="display: flex; flex-flow: row;" >
        <div class="form-group" style="flex: 1 1 auto;">
            <label for="todo-new" class="sr-only">Todo item</label>
            <input
                    type="text"
                    class="form-control todo-new"
                    id="todo-new"
                    value=""
                    style="width: 100%;"
                    maxlength="2000"
                    autocomplete="off">
        </div>

        <div class="form-group" style="flex: 0 0 auto;">
            <button class="btn btn-primary create-todo"><i class="fas fa-plus"></i></button>
        </div>
    </form>
</li>