<div class="card box box-body reminder-card" data-uid="{{ reminder.uid }}"
    {% if not reminder.enabled %}
        style="opacity: 0.5; margin: 0;"
    {% else %}
        style="margin: 0;"
    {% endif %}>
    <div class="card-header">
        <h4>
            <a data-toggle="collapse" id="{{ reminder.id }}-collapser" href="#{{ reminder.id }}-collapse" aria-expanded="false" aria-controls="#{{ reminder.id }}-collapse" class="collapser">
                <i class="fas fa-angle-down icon-pad"></i>
            </a>
            <strong>
                <input
                        value="{{ reminder.name }}"
                        class="reminder-name"
                        maxlength="24"
                        data-initial-value="{{ reminder.name }}"
                        autocomplete="off" />
            </strong>

            {% if reminder.interval != None %}
                <i class="fas fa-history" data-toggle="tooltip" data-placement="top" title="Recurring"></i>
            {% else %}
                <i class="far fa-clock" data-toggle="tooltip" data-placement="top" title="One-Time"></i>
            {% endif %}

            {% if guild != None %}
                <i class="fas fa-hashtag reminder-channel-indicator-mob" data-toggle="tooltip" data-placement="top" title="Sends to #{{ reminder.channel.name }}"></i>
                <span class="hidden-xs reminder-channel-indicator"><strong>{{ reminder.channel.name }}</strong></span>
            {% endif %}

            <span class="hidden-xs hidden-sm pull-right time-remaining"></span>
        </h4>
    </div>
    <div class="card-body collapse reminder-collapse" id="{{ reminder.id }}-collapse">
        <div class="error-area" style="color: red;">

        </div>

        <div class="container row" style="width: 100%;">
            <div class="col-lg-4 col-md-12">
                {% if guild == None %}
                    <div class="form-group">
                        <label for="input-message{{ reminder.uid }}">Message:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </div>

                            <textarea id="input-message{{ reminder.uid }}" class="form-control dm-message" name="message_new" autocomplete="off">{{ reminder.message_content() }}</textarea>

                        </div>
                        <!-- /.input group -->
                    </div>

                    <input type="text" name="channel_new" value="-1" id="input-channel" hidden required />

                {% else %}
                    <div class="form-group">
                        <label for="input-message{{ reminder.uid }}">Message:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </div>

                            <textarea id="input-message{{ reminder.uid }}" style="resize: none;" class="form-control" disabled>{{ reminder.message_content() }}</textarea>

                        </div>
                        <a href="{{ url_for('advanced_message_editor', guild_id=guild.guild, reminder_uid=reminder.uid) }}" target="_blank">Edit Message</a>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        <label for="channel-{{ reminder.uid }}">Channel:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-comment-alt"></i>
                            </div>
                            <div class="dropdown">
                                <select id="channel-{{ reminder.uid }}" class="channel-selector" style="width: 100%; height: 34px;" autocomplete="off">
                                    <option value="{{ reminder.channel.id }}" selected>{{ reminder.channel.name }}</option>
                                    {% for channel in guild.channels %}
                                        {% if channel.name != None and channel.id != reminder.channel.id %}
                                            <option value="{{ channel.id }}">{{ channel.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>

                {% endif %}

                </div>

                <div class="col-lg-4 col-md-12">

                    <label for="datepicker{{ reminder.uid }}">Time:</label>

                    <div class="form-group time-inputs time-selectors" data-start-time="{{ reminder.utc_time.timestamp() }}">
                        <div class="col-5" style="display: inline-flex;">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>

                                <label for="datepicker{{ reminder.uid }}" class="sr-only">Reminder Date</label>

                                <input type="text" class="form-control datepicker time-update" id="datepicker{{ reminder.uid }}" name="date">
                            </div>
                        </div>

                        <div class="bootstrap-timepicker col-5" style="display: inline-flex;">
                            <div class="input-group">
                                <label for="timepicker{{ reminder.uid }}" class="sr-only">Reminder Time</label>

                                <input type="text" class="form-control timepicker time-update" id="timepicker{{ reminder.uid }}" name="time">
                            </div>
                        </div>
                    </div>

                    {% if member.patreon %}

                        <div class="form-group">
                            <label>Interval:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fas fa-clock"></i>
                                </div>

                                {% if reminder.interval_months != None and reminder.interval_months > 0 %}
                                    <input
                                            type="number"
                                            class="form-control pull-left interval-input"
                                            value="{{ reminder.interval_months }}"
                                            style="width: 65%"
                                            data-current-multiplier="1,0"
                                            data-initial-value="{{ reminder.interval_months }}"
                                            autocomplete="off" />

                                    <select name="multiplier_new" style="-webkit-appearance: none; -moz-appearance: none; appearance: none; height: 34px; width: 25%; border: 1px solid #ccc; cursor: pointer;" class="multiplier-selector" autocomplete="off">
                                        <option value="0,1">seconds</option>
                                        <option value="0,60">minutes</option>
                                        <option value="0,3600">hours</option>
                                        <option value="0,86400">days</option>
                                        <option value="1,0" selected>months</option>
                                        <option value="12,0">years</option>
                                    </select>
                                {% else %}
                                    <input
                                            type="number"
                                            class="form-control pull-left interval-input"
                                            value="{{ reminder.interval_seconds }}"
                                            style="width: 65%"
                                            data-current-multiplier="0,1"
                                            data-initial-value="{{ reminder.interval_seconds }}"
                                            autocomplete="off" />

                                    <select name="multiplier_new" style="-webkit-appearance: none; -moz-appearance: none; appearance: none; height: 34px; width: 25%; border: 1px solid #ccc; cursor: pointer;" class="multiplier-selector" autocomplete="off">
                                        <option value="0,1" selected>seconds</option>
                                        <option value="0,60">minutes</option>
                                        <option value="0,3600">hours</option>
                                        <option value="0,86400">days</option>
                                        <option value="1,0">months</option>
                                        <option value="12,0">years</option>
                                    </select>
                                {% endif %}

                                <button type="button" class="btn btn-danger delete-interval"
                                        {% if reminder.interval == None %}
                                            style="display: none;"
                                        {% endif %}>
                                    <i class="fas fa-trash"></i>
                                </button>

                            </div>
                            <!-- /.input group -->
                        </div>

                        <label for="expires-checkbox">Expires:</label>
                        <input type="checkbox" name="expires" id="expires-checkbox" {{ 'checked' if reminder.expires != None else '' }}>

                        <div class="form-group expires-inputs time-selectors" data-start-time="{{ reminder.expires.timestamp() if reminder.expires != None else None }}">
                            <div class="col-5" style="display: inline-flex;">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar-times"></i>
                                    </div>

                                    <label for="expires-datepicker" class="sr-only">New Reminder Expiration Date</label>

                                    <input type="text" class="form-control expires-datepicker" name="expires-date">
                                </div>
                            </div>

                            <div class="bootstrap-timepicker col-5" style="display: inline-flex;">
                                <div class="input-group">
                                    <label for="expires-timepicker" class="sr-only">New Reminder Expiration Time</label>

                                    <input type="text" class="form-control expires-timepicker" name="expires-time">
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </div> <!-- closes column -->

                <div class="col-lg-4 col-md-12">

                    {% if guild != None %}

                        <div class="form-group">
                            <label for="username{{ reminder.uid }}">Username:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fas fa-file-signature"></i>
                                </div>
                                <input
                                        type="text"
                                        class="form-control pull-right reminder-username"
                                        id="username{{ reminder.uid }}"
                                        value="{{ reminder.username or '' }}"
                                        data-initial-value="{{ reminder.username or '' }}"
                                        placeholder="(Fallback to webhook username)"
                                        autocomplete="off"
                                        maxlength="32" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="avatar">Avatar:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fas fa-camera"></i>
                                </div>
                                <input
                                        type="text"
                                        class="form-control pull-right reminder-avatar no-spaces"
                                        id="avatar"
                                        value="{{ reminder.avatar or '' }}"
                                        data-initial-value="{{ reminder.avatar or '' }}"
                                        placeholder="(Fallback to webhook avatar)"
                                        autocomplete="off"
                                        maxlength="512" />
                            </div>
                        </div>

                    {% endif %}

                </div>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-success save-notice" disabled>
                <i class="fas fa-check saving-icon"></i>
                <span>Saved!</span>
            </button>

            <button type="button" class="btn btn-warning toggle-enabled"
                    {% if reminder.interval == None %}
                        style="display: none;"
                    {% endif %}>

                {% if reminder.enabled %}
                    Disable
                {% else %}
                    Enable
                {% endif %}

            </button>

            <button type="button" class="btn btn-danger delete-reminder">Delete</button>
        </div>
    </div>
</div>