{% extends "dashboard_base.html" %}
{% block content %}

    <section class="content-header">
        <h1>
            {% if guild != None %}
                <strong>{{ guild.name }}</strong>: Reminders
            {% else %}
                <strong>{{ member.name }}</strong>: Reminders
            {% endif %}
        </h1>
    </section>

    <section class="content">

        <div class="container" style="width: 100%">
            <div class="row">

                {% include "reminder_dashboard/create_card.html" %}

            </div>

            <br>

            <div class="row controls">
                <div class="col-xs-6">
                    <label for="sort">
                        Sort by:
                    </label>
                    <select id="sort">
                        <option value="time">Time</option>
                        <option value="name">Name</option>
                        <option value="channel">Channel</option>
                    </select>
                </div>

                <div class="col-xs-6">
                    <div class="pull-right">
                        <label for="expand-all">
                            Expand all:
                        </label>
                        <input type="checkbox" id="expand-all">
                    </div>
                </div>
            </div>

            <div class="row" id="all-reminders">
                {% for reminder in reminders %}

                    {% include "reminder_dashboard/card.html" %}

                {% endfor %}
            </div>

        </div>

    </section>

{% if guild != None %}
    <script>

const channels = {
    {% for channel in guild.channels %}
        {% if channel.name != None %}
            "{{ channel.name.replace('\\', '')[:32] }}": "{{ channel.channel }}",
        {% endif %}
    {% endfor %}
};

const members = {
    {% for m in guild.users %}
    "{{ m.name.replace('\\', '').lower()[:32] }}": "{{ m.user }}",
    {% endfor %}
};

const roles = {
    {% for role in guild.roles %}
    "@{{ role.display_name().replace('\\', '').lower()[:32] }}": "&{{ role.role }}",
    {% endfor %}
};

function mention(constructed_mention, reminder_uid)
{
    let value = document.getElementById("input-message" + reminder_uid).value;
    value = value.split(" ").slice(0, -1).join(" ") + " " + constructed_mention;
    document.getElementById("input-message" + reminder_uid).value = value;
}

function manage_characters(change_event, i)
{
    let text = change_event.target.value;
    let parts = text.split(" ");
    let last = parts[parts.length-1].toLowerCase();
    let name = last.slice(1);

    let type = last[0];

    let out = [];

    if ( type === "@" ) {
        let roles_also = last[1] === "@";
        let set;

        if ( roles_also ) {
            set = roles;
        }
        else {
            set = members;
        }

        document.getElementById("mention-input" + i).style.display = "table";

        for (let key in set ) {
            if ( key.includes(name) ) {
                out.push("@" + key);
            }
        }
    }
    else if ( type === "#" ) {
        document.getElementById("mention-input" + i).style.display = "table";

        for (let key in channels) {
            if ( key.includes(name) ) {
                out.push("#" + key);
            }
        }
    }
    else {
        document.getElementById("mention-input" + i).style.display = "none";
    }

    document.getElementById("dropdown-mention" + i).innerHTML = "";

    out.sort();

    for (let el in out) {
        let name_n = out[el];

        if ( type === "@" ) {
            let id;

            if ( last[1] === "@" ) {
                id = roles[name_n.slice(1)];
            }
            else {
                id = members[name_n.slice(1)];
            }
            document.getElementById("dropdown-mention" + i).innerHTML += `<li><a onclick="mention('<@${id}>', '${i}')">${name_n}</a></li>`;
        }
        else {
            let id = channels[name_n.slice(1)];
            document.getElementById("dropdown-mention" + i).innerHTML += `<li><a onclick="mention('<#${id}>', '${i}')">${name_n}</a></li>`;
        }
    }
}

function m(e) {
    manage_characters(e, "");
}

document.getElementById("input-message").addEventListener("input", m);

    </script>
{% endif %}
{# end of guild-only code #}

    <script>

const channel_pauses = {
    {% for channel in guild.channels %}
        {% if channel.name != None %}
            {{ channel.id }}: {{ 'true' if channel.paused else 'false' }},
        {% endif %}
    {% endfor %}
}

function mark_as_saving(card) {
    let save_button = card.find('.save-notice');

    save_button.fadeTo(150, 0.45).removeClass('btn-danger').addClass('btn-success');
    save_button.find('span').text('Saving...');
    save_button.find('i').removeClass('fa-check fa-exclamation-triangle').addClass('fa-save');
}

function mark_as_saved(card) {
    let save_button = card.find('.save-notice');

    card.find('.error-area').text('');

    save_button.fadeTo(150, 0.65).removeClass('btn-danger').addClass('btn-success');
    save_button.find('span').text('Saved!');
    save_button.find('i').removeClass('fa-save fa-exclamation-triangle').addClass('fa-check');
}

function show_error(card, text) {
    let save_button = card.find('button.save-notice');
    let error_div = card.find('div.error-area');

    // show error message provided by server
    error_div.text(text.responseText);

    // switch button to danger and add error text
    save_button.fadeTo(150, 0.85).removeClass('btn-success').addClass('btn-danger');
    save_button.find('span').text('Error');
    save_button.find('i').removeClass('fa-save fa-check').addClass('fa-exclamation-triangle');
}

function sort_reminders(el) {
    // remove the channel grouping headings
    $('.channel-groupings').remove();

    let row = $('#all-reminders');
    let reminders = row.children('.reminder-card');

    let sort = $(el).val();

    if (sort === 'channel') {
        reminders.detach().sort(function (a, b) {
            return $(a).find('.channel-selector').val() > $(b).find('.channel-selector').val();
        });
    }
    else if (sort === 'name') {
        reminders.detach().sort(function (a, b) {
            return $(a).find('.reminder-name').val().toLowerCase() > $(b).find('.reminder-name').val().toLowerCase();
        });
    }
    // default sort = time
    else {
        reminders.detach().sort(function (a, b) {
            return $(a).find('.time-selectors').data('start-time') > $(b).find('.time-selectors').data('start-time');
        });
    }

    row.append(reminders);

    // channel sort has some other stuff we need to do
    if (sort === 'channel') {
        let current_channel_group = null;

        reminders.each(function () {
            let this_channel = $(this).find('.channel-selector').val();

            if (this_channel !== current_channel_group) {
                let channel_name = $(this).find('.channel-selector').find(':selected').text();
                let channel_id = $(this).find('.channel-selector').find(':selected').val();

                let btn_style = 'btn-danger';
                let btn_content = 'Pause Channel';
                let paused = false;

                current_channel_group = this_channel

                if (channel_pauses[channel_id]) {
                    btn_style = 'btn-success';
                    btn_content = 'Unpause Channel';
                    paused = true;
                }

                $(this).before(`<div style="display: flex; flex-flow: row; justify-content: space-between;" class="channel-header channel-groupings" data-channel="${channel_id}" data-paused="${paused}">
    <h3 style="flex: 1 1 auto;">#${channel_name}</h3>
    <button class="btn ${btn_style} pause-channel" style="flex: 0 1 auto; margin: 10px; font-weight: bold;">${btn_content}</button>
</div>`);
            }
        });
    }
}

$(document).on('click', '.pause-channel', function () {
    let header = $(this).closest('.channel-header');

    let paused = !header.data('paused');
    let channel = header.data('channel');

    $.ajax({
        url: '{{ url_for('change_paused') }}',
        data: JSON.stringify({guild_id: {{ guild.id }}, channel_id: channel, paused: paused}),
        contentType: 'application/json; charset=utf-8;',
        method: 'POST',

        success: function () {
            header.data('paused', paused);

            if (paused) {
                header.find('.pause-channel').text('Unpause Channel')
                    .removeClass('btn-danger')
                    .addClass('btn-success');
            }
            else {
                header.find('.pause-channel').text('Pause Channel')
                    .removeClass('btn-success')
                    .addClass('btn-danger');
            }
        }
    });
});

function update_reminder_times() {
    $('.time-remaining').each(function () {
        let $card = $(this).closest('.reminder-card');

        let time = $card.find('.time-selectors').data('start-time');

        let m = moment.unix(time);

        $(this).text(`Occurs ${m.fromNow()}`);
    });
}

$(function () {
    if (Cookies.get('meridian') === undefined) {
        Cookies.set('meridian', 'true', { sameSite: 'strict' });
    }

    function reset_time_inputs() {
        let time = moment.unix($(this).data('start-time'));

        $(this).find('.timepicker').timepicker('setTime', time.format('hh:mm:ss A'));
        $(this).find('.datepicker').datepicker('setDate', time.format('YYYY/MM/DD'));
    }

    $('.time-selectors').each(reset_time_inputs);

    function update_time() {
        let card = $(this).closest('.reminder-card');
        mark_as_saving(card);

        let uid = card.data('uid');

        let parent = $(this).closest('.time-selectors');

        let dp = parent.find('.datepicker');
        let tp = parent.find('.timepicker');

        let m = moment(`${dp.val()} ${tp.val()}`, 'YYYY/MM/DD HH:mm:ss A');

        $.ajax({
            url: '{{ url_for('change_time') }}',
            data: JSON.stringify({uid: uid, time: m.unix()}),
            contentType: 'application/json; charset=utf-8',
            method: 'POST',

            success: function () {
                parent.data('start-time', m.unix());

                update_reminder_times();

                mark_as_saved(card);
            },
            error: function (resp) {
                show_error(card, resp);
                card.find('.time-selectors').each(reset_time_inputs);
            }
        });
    }

    $('.timepicker').on('change', update_time);
    $('.datepicker').on('change', update_time);
});

$.datepicker.setDefaults({
    maxDate: '+50y',
    dateFormat: 'yy/mm/dd',
    minDate: '0',
});

$('.datepicker').add('#datepicker').datepicker();
$('#datepicker').datepicker('setDate', moment().toDate());

$('.timepicker').add('#timepicker').timepicker({
    minuteStep: 1,
    showInputs: false,
    showSeconds: true,
    showMeridian: Cookies.get('meridian') === "true",
});

$('.channel-selector').on('change', function () {
    let card = $(this).closest('.reminder-card');
    mark_as_saving(card);
    let uid = card.data('uid');

    let option = $(this).find(':selected');
    let channel = $(this).val();

    $.ajax({
        url: '{{ url_for('change_channel') }}',
        data: JSON.stringify({uid: uid, channel: channel}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function () {
            let current_name = option.html();
            option.html(`${current_name}`);

            card.find('.reminder-channel-indicator').html(`<strong>${current_name}</strong>`);
            card.find('.reminder-channel-indicator-mob').prop('title', `Sends to ${current_name}`).tooltip('fixTitle');

            mark_as_saved(card);
        },
        error: function (resp) { show_error(card, resp) }
    })
});

$('.multiplier-selector').on('change', function () {
    let interval_input = $(this).siblings('.interval-input');

    let selected = $(this).find(':selected');

    let old_multiplier = interval_input.data('current-multiplier');
    let new_multiplier = selected.val();

    let current_interval = interval_input.val();

    let new_interval = (current_interval * old_multiplier) / new_multiplier;

    interval_input.val(new_interval);
    interval_input.data('current-multiplier', new_multiplier);
});

$('.interval-input').on('blur', function () {
    let card = $(this).closest('.reminder-card');
    mark_as_saving(card);
    let uid = card.data('uid');

    let delete_button = card.find('.delete-interval');
    let disable_button = card.find('.toggle-enabled');

    let multiplier = $(this).data('current-multiplier');

    $.ajax({
        url: '{{ url_for('change_interval') }}',
        data: JSON.stringify({uid: uid, interval: $(this).val() * multiplier}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function () {
            mark_as_saved(card);
            delete_button.show();
            disable_button.show();
        },
        error: function (resp) {
            show_error(card, resp);
        }
    });
});

$('.delete-interval').on('click', function (event) {
    event.preventDefault();

    let delete_button = $(this);
    let interval_input = delete_button.siblings('.interval-input');

    let card = delete_button.closest('.reminder-card');

    let disable_button = card.find('.toggle-enabled');

    let uid = card.data('uid');

    $.ajax({
        url: '{{ url_for('delete_interval') }}',
        data: JSON.stringify({uid: uid}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function(_d, _t, _j) {
            interval_input.val('');
            delete_button.hide();
            disable_button.hide();
        }
    })
});

$('.delete-reminder').on('click', function (event) {
    event.preventDefault();

    let card = $(this).closest('.reminder-card');

    let uid = card.data('uid');

    $.ajax({
        url: '{{ url_for('delete_reminder') }}',
        data: JSON.stringify({uid: uid}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function(_d, _t, _j) {
            card.fadeOut(500, function() {
                card.remove();
            });
        }
    })
});

$('.toggle-enabled').on('click', function (event) {
    event.preventDefault();

    let button = $(this);
    let card = button.closest('.reminder-card');

    let uid = card.data('uid');

    $.ajax({
        url: '{{ url_for('toggle_enabled') }}',
        data: JSON.stringify({uid: uid}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function(data, _t, _x) {
            if (data.enabled) {
                card.fadeTo(100, 1);
                button.html('Disable');
            }
            else {
                card.fadeTo(100, 0.5);
                button.html('Enable');
            }
        }
    })
});

$('input').keyup(function (e) {
    if (e.keyCode === 13) {
        $(this).blur();
    }
});

$('.reminder-name').on('blur', function () {
    let card = $(this).closest('.reminder-card');
    mark_as_saving(card);

    let uid = card.data('uid');

    $.ajax({
        url: '{{ url_for('change_name') }}',
        data: JSON.stringify({name: $(this).val(), uid: uid}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function () {
            if ($('#sort').val() === 'name') {
                sort_reminders('#sort');
            }
            mark_as_saved(card);
        },
        error: function (resp) { show_error(card, resp); }
    });
});

$('.dm-message').on('blur', function () {
    let card = $(this).closest('.reminder-card');
    mark_as_saving(card);

    let uid = card.data('uid');

    $.ajax({
        url: '{{ url_for('change_message') }}',
        data: JSON.stringify({message: $(this).val(), uid: uid}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function () { mark_as_saved(card); },
        error: function (resp) { show_error(card, resp); }
    });
});

$('.reminder-username').on('blur', function () {
    let card = $(this).closest('.reminder-card');
    mark_as_saving(card);

    let uid = card.data('uid');

    $.ajax({
        url: '{{ url_for('change_username') }}',
        data: JSON.stringify({uid: uid, username: $(this).val()}),
        contentType: 'application/json; charset=utf-8',
        dataType: 'text',
        method: 'POST',

        success: function () { mark_as_saved(card); },
        error: function (error_message) { show_error(card, error_message) }
    })
});

$('.reminder-avatar').on('blur', function () {
    let card = $(this).closest('.reminder-card');
    mark_as_saving(card);

    let uid = $(this).closest('.reminder-card').data('uid');

    $.ajax({
        url: '{{ url_for('change_avatar') }}',
        data: JSON.stringify({uid: uid, avatar: $(this).val()}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function () { mark_as_saved(card); },
        error: function (error_message) { show_error(card, error_message) }
    })
});

$('#expand-all').on('change', function () {
    let checked = $(this).prop('checked');

    if (checked) {
        $('.collapse').collapse('show');
    }
});

let $collapse = $('.collapse');

$collapse.on('hide.bs.collapse', function () {
    let $i = $(`#${$(this).attr('id')}r`).find('i');

    $i
        .removeClass('fa-angle-up')
        .addClass('fa-angle-down');
});

$collapse.on('show.bs.collapse', function () {
    let $i = $(`#${$(this).attr('id')}r`).find('i');

    $i
        .removeClass('fa-angle-down')
        .addClass('fa-angle-up');
});

$(function () {

    update_reminder_times();

    setInterval(update_reminder_times, 60000);

});

$(function () {
    $('[data-toggle="tooltip"]').tooltip()
});

$(function () {
    sort_reminders('#sort');

    $('#sort').on('change', function () {
        sort_reminders(this);
    });
});

$(function () {
    if ($('#expand-all').prop('checked')) {
        $('.collapse').collapse('show');
    }
});
    </script>

{% endblock %}