{% extends "dashboard_base.html" %}

{% set is_personal = True %}

{% block dashboard_frame %}

    <div style="margin: 12px;">
        <p class="title">Your Reminders</p>

        <div class="create-reminder">
            <div class="columns">
                <div class="column">
                    <p>
                        <strong>Message Designer</strong>
                    </p>
                    <article class="media discord-frame">
                        <figure class="media-left">
                            <p class="image is-32x32 customizable">
                                <a>
                                    <img class="is-rounded" src="">
                                </a>

                                <label class="is-sr-only" for="reminderAvatar">Avatar Override</label>
                                <input class="imageInput" id="reminderAvatar" name="avatar" placeholder="Avatar URL">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <label class="is-sr-only" for="reminderUsername">Username Override</label>
                                <input class="discord-author message-input" placeholder="Username Override"
                                       maxlength="32" id="reminderUsername" name="username">

                                <br>
                                <label class="is-sr-only" for="messageContent">Message</label>
                                <textarea class="message-input autoresize discord-content" placeholder="Message Content..."
                                          maxlength="2000" id="messageContent" name="content" rows="1"></textarea>

                                <div class="discord-embed">
                                    <div class="embed-body">
                                        <div class="a">
                                            <div class="embed-author-box">
                                                <div class="a">
                                                    <p class="image is-24x24 customizable">
                                                        <a>
                                                            <img class="is-rounded" src="">
                                                        </a>

                                                        <label class="is-sr-only" for="embedAvatar">Embed Avatar</label>
                                                        <input class="imageInput" id="embedAvatar" name="embed_author_url" placeholder="Embed Avatar URL">
                                                    </p>
                                                </div>

                                                <div class="b">
                                                    <label class="is-sr-only" for="embedAuthor">Embed Author</label>
                                                    <input class="discord-embed-author message-input" placeholder="Embed Author..."
                                                           maxlength="256" id="embedAuthor" name="embed_author">
                                                </div>
                                            </div>

                                            <label class="is-sr-only" for="embedTitle">Embed Title</label>
                                            <input class="discord-title message-input" placeholder="Embed Title..."
                                                   maxlength="256" id="embedTitle" name="embed_title">
                                            <br>
                                            <label class="is-sr-only" for="embedDescription">Embed Description</label>
                                            <textarea class="discord-description message-input autoresize" placeholder="Embed Description..."
                                                      maxlength="2048" id="embedDescription" name="embed_description"
                                                      rows="1"></textarea>
                                            <br>

                                            <div class="embed-multifield-box">
                                                <div class="embed-field-box">
                                                    <label class="is-sr-only" for="embedFieldTitle">Field Title</label>
                                                    <input class="discord-field-title message-input" placeholder="Field Title..."
                                                           maxlength="256" id="embedFieldTitle" name="embed_field_title[]">

                                                    <label class="is-sr-only" for="embedFieldValue">Field Value</label>
                                                    <textarea class="discord-field-value message-input autoresize" placeholder="Field Value..."
                                                              maxlength="1024" id="embedFieldValue" name="embed_field_value[]"
                                                              rows="1"></textarea>
                                                </div>

                                                <div class="embed-field-box">
                                                    <label class="is-sr-only" for="embedFieldTitle">Field Title</label>
                                                    <input class="discord-field-title message-input" placeholder="Field Title..."
                                                           maxlength="256" id="embedFieldTitle" name="embed_field_title[]">

                                                    <label class="is-sr-only" for="embedFieldValue">Field Value</label>
                                                    <textarea class="discord-field-value message-input autoresize" placeholder="Field Value..."
                                                              maxlength="1024" id="embedFieldValue" name="embed_field_value[]"
                                                              rows="1"></textarea>
                                                </div>

                                                <div class="embed-field-box">
                                                    <label class="is-sr-only" for="embedFieldTitle">Field Title</label>
                                                    <input class="discord-field-title message-input" placeholder="Field Title..."
                                                           maxlength="256" id="embedFieldTitle" name="embed_field_title[]">

                                                    <label class="is-sr-only" for="embedFieldValue">Field Value</label>
                                                    <textarea class="discord-field-value message-input autoresize" placeholder="Field Value..."
                                                              maxlength="1024" id="embedFieldValue" name="embed_field_value[]"
                                                              rows="1"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="b">
                                            <p class="image thumbnail customizable">
                                                <a>
                                                    <img src="">
                                                </a>

                                                <label class="is-sr-only" for="embedImage">Embed Thumbnail URL</label>
                                                <input class="imageInput" id="embedImage" name="embed_image_url" placeholder="Embed Image URL">
                                            </p>
                                        </div>
                                    </div>

                                    <p class="image is-400x300 customizable">
                                        <a>
                                            <img src="">
                                        </a>

                                        <label class="is-sr-only" for="embedImage">Embed Image URL</label>
                                        <input class="imageInput" id="embedImage" name="embed_image_url" placeholder="Embed Image URL">
                                    </p>

                                    <div class="embed-footer-box">
                                        <p class="image is-20x20 customizable">
                                            <a>
                                                <img class="is-rounded" src="">
                                            </a>

                                            <label class="is-sr-only" for="embedFooterImage">Embed Footer Image</label>
                                            <input class="imageInput" id="embedFooterImage" name="embed_footer_url" placeholder="Embed Footer URL">
                                        </p>

                                        <label class="is-sr-only" for="embedAuthor">Embed Author</label>
                                        <textarea class="discord-embed-footer message-input autoresize" placeholder="Embed Footer..."
                                                  maxlength="2048" id="embedAuthor" name="embed_author" rows="1"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <p style="font-size: 0.8rem;">
                        Most fields are optional. Fields left blank will be unset, and won't appear in the final message.
                        Scaling is not exact.
                    </p>
                </div>
                <div class="column is-narrow">

                </div>
            </div>

            <div class="field">
                <p class="control">
                    <a class="button is-success">
                        Create
                    </a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}