<html lang="EN">
<head>
    <meta name="description" content="The most powerful Discord Reminders Bot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="bb77b8681eb64a90" />
    <meta name="google-site-verification" content="7h7UVTeEe0AOzHiH3cFtsqMULYGN-zCZdMT_YCkW1Ho" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="/{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Reminder Bot | {{ title }}</title>

    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fa.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <nav class="navbar is-dark is-spaced is-size-4" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">
                <figure class="image">
                    <img src="{{ url_for('static', filename='img/logo_flat.jpg') }}" alt="Reminder Bot Logo" class="is-rounded">
                </figure>
            </a>

            <a role="button" class="navbar-burger is-right" aria-label="menu" aria-expanded="false" data-target="pageNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    <i class="fas fa-plus"></i>
                </a>
                <a class="navbar-item">
                    <i class="fab fa-github"></i>
                </a>
                <a class="navbar-item">
                    <i class="fab fa-discord"></i>
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="button is-rounded is-light" href="{{ url_for('dashboard') }}">
                        <p>
                            Dashboard <span class="icon"><i class="fas fa-chevron-right"></i></span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 64">
        <g transform="scale(1, 0.2)">
            <path fill="#fafafa" fill-opacity="1" d="M0,224L80,218.7C160,213,320,203,480,170.7C640,139,800,85,960,69.3C1120,53,1280,75,1360,85.3L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
        </g>
    </svg>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Reminder Bot</strong>, created by <a href="https://github.com/JellyWX"><strong>JellyWX</strong></a>
                <br>
                <a href="https://patreon.com/jellywx"><strong>Patreon</strong></a> | <a href="https://discord.jellywx.com"><strong>Discord</strong></a> | <a href="https://github.com/JellyWX"><strong>GitHub</strong></a>
            </p>
        </div>
    </footer>
</body>
</html>