<div class="col-md-12 col-lg-4">
    <div class="card box box-body reminder-card" data-uid="{{ reminder.uid }}"
        {% if not reminder.enabled %}
            style="opacity: 0.5"
        {% endif %}>
            <div class="card-header">
                <h4>
                    <strong>
                        <input style="border: 1px solid black" value="{{ reminder.name }}" class="reminder-name" maxlength="24">
                        <i class="fas fa-check saving-icon" style="opacity: 0"></i>
                    </strong>
                </h4>
            </div>
        <form method="POST" action="{{ url_for('change_reminder', redirect=guild.guild or 0, reminder=reminder.uid) }}" id="form{{ reminder.uid }}" autocomplete="off">
            <div class="card-body">
                <div id="modal">
                    <!-- This div is for writing error messages into DO NOT DELETE -->
                </div>

                {% if guild == None %}
                    <div class="form-group">
                        <label for="input-message{{ reminder.uid }}">Message:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </div>

                            <textarea id="input-message{{ reminder.uid }}" class="form-control" name="message_new">{{ reminder.message_content() }}</textarea>

                        </div>
                        <!-- /.input group -->
                    </div>

                    <input type="text" name="channel_new" value="-1" id="input-channel" hidden required />

                {% else %}
                    <div class="form-group">
                        <label for="input-message{{ reminder.uid }}">Message:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </div>

                            <textarea id="input-message{{ reminder.uid }}" style="resize: none;" class="form-control" disabled>{{ reminder.message_content() }}</textarea>

                        </div>
                        <a href="{{ url_for('advanced_message_editor', guild_id=guild.guild, reminder_uid=reminder.uid) }}" target="_blank">Edit Message</a>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        <label for="channel{{ reminder.uid }}">Channel:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-comment-alt"></i>
                            </div>
                            <div class="dropdown">
                                <select name="channel_new" id="channel{{ reminder.uid }}" style="-webkit-appearance: none; -moz-appearance: none; appearance: none; height: 34px; width: 100%; border: 1px solid #ccc; cursor: pointer;">
                                    <option value="{{ reminder.channel.channel }}" selected>{{ reminder.channel.name }} (current)</option>
                                    {% for channel in guild.channels %}
                                        {% if channel.name != None %}
                                            <option value="{{ channel.channel }}">{{ channel.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        <label for="username{{ reminder.uid }}">Username (optional):</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-file-signature"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="username{{ reminder.uid }}" name="username" maxlength="32" value="{{ reminder.username }}" />
                        </div>
                    </div>

                {% endif %}

                <input name="time_new" value="0" id="time_new{{ reminder.uid }}" hidden />

                <label for="datepicker{{ reminder.uid }}">Time:</label>

                <div class="form-group">

                    <div class="col-5" style="display: inline-flex;">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>

                            <label for="datepicker{{ reminder.uid }}" class="sr-only">Reminder Date</label>

                            <input type="text" class="form-control" id="datepicker{{ reminder.uid }}" name="date" />
                        </div>
                    </div>

                    <div class="bootstrap-timepicker col-5" style="display: inline-flex;">
                        <div class="input-group">

                            <label for="timepicker{{ reminder.uid }}" class="sr-only">Reminder Time</label>

                            <input type="text" class="form-control timepicker" id="timepicker{{ reminder.uid }}" name="time" />

                        </div>

                    </div>

                </div>

                {% if member.patreon %}

                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>Interval:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fas fa-clock"></i>
                                </div>
                                {% if reminder.interval != None %}
                                    <input type="number" class="form-control pull-left" id="interval_{{ reminder.uid }}" name="interval_new" value="{{ reminder.interval }}" style="width: 65%" />

                                    <select id="multiplier_{{ reminder.uid }}" name="multiplier_new" style="-webkit-appearance: none; -moz-appearance: none; appearance: none; height: 34px; width: 25%; border: 1px solid #ccc; cursor: pointer;">
                                        <option value="1" onclick="change_multiplier{{ reminder.uid }}()" selected>seconds</option>
                                        <option value="60" onclick="change_multiplier{{ reminder.uid }}()">minutes</option>
                                        <option value="3600" onclick="change_multiplier{{ reminder.uid }}()">hours</option>
                                        <option value="86400" onclick="change_multiplier{{ reminder.uid }}()">days</option>
                                    </select>

                                    <button type="button" class="btn btn-danger" onclick="send_delete_i('{{ reminder.uid }}')"><i class="fas fa-trash"></i></button>

                                    <script>

let before{{ reminder.uid }} = 1;

function change_multiplier{{ reminder.uid }}() {
    let e = document.getElementById('multiplier_{{ reminder.uid }}').value;

    document.getElementById('interval_{{ reminder.uid }}').value *= before{{ reminder.uid }} / e;

    before{{ reminder.uid }} = e;
}

                                    </script>
                                {% else %}
                                    <input type="number" class="form-control pull-left" name="interval_new" value="" style="width: 75%;" />

                                    <select name="multiplier_new" style="-webkit-appearance: none; -moz-appearance: none; appearance: none; height: 34px; width: 25%; border: 1px solid #ccc; cursor: pointer;">
                                        <option value="1" selected>seconds</option>
                                        <option value="60">minutes</option>
                                        <option value="3600">hours</option>
                                        <option value="86400">days</option>
                                    </select>
                                {% endif %}
                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                    </div>

                    {% if guild != None %}

                        <div class="form-group">
                            <label for="avatar">Avatar:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fas fa-camera"></i>
                                </div>
                                <input type="text" class="form-control pull-right" name="avatar" value="{{ reminder.avatar }}" id="avatar" />
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                
                <script>

function update_time()
{
    let t_time = document.getElementById("timepicker{{ reminder.uid }}");
    let d_time = document.getElementById("datepicker{{ reminder.uid }}");

    m = moment(d_time.value + ' ' + t_time.value, 'YYYY/MM/DD HH:mm:ss A');

    document.getElementById("time_new{{ reminder.uid if reminder else "" }}").value = m.unix();
}

current = moment.unix({{ reminder.time if reminder else time }});

//Date picker
$('#datepicker{{ reminder.uid }}').datepicker({
    format: 'yyyy/mm/dd',
    autoclose: true,
});

$('#datepicker{{ reminder.uid }}').datepicker('update', current.toDate());
//Timepicker
$('#timepicker{{ reminder.uid }}').timepicker({
    minuteStep: 1,
    showInputs: false,
    showSeconds: true,
    defaultTime: current.format('hh:mm A'),
});

$("#datepicker{{ reminder.uid }}").change(update_time);
$("#timepicker{{ reminder.uid }}").change(update_time);

update_time();

                </script>

                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Save Changes</button>

                    {% if reminder.interval != None %}
                        <button type="button" class="btn btn-warning toggle-enabled">

                            {% if reminder.enabled %}
                                Disable
                            {% else %}
                                Enable
                            {% endif %}

                        </button>
                    {% endif %}

                    <button type="button" class="btn btn-danger delete-reminder">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>