<div class="col-md-12 col-lg-4">
    <div class="card box box-body">
        <form method="POST" action="{{ url_for('change_reminder', redirect=server.guild or 0, reminder=reminder.uid) }}" id="form{{ reminder.uid }}" autocomplete="off">
            <div class="card-header">
                <h4><strong>Reminder</strong></h4>
            </div>
            <div class="card-body">
                <div id="modal">
                    <!-- This div is for writing error messages into DO NOT DELETE -->
                </div>

                <div class="form-group">
                    <label>Message:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </div>

                        <textarea type="text" name="message_new" class="form-control pull-right" maxlength="2000" id="input-message{{ reminder.uid }}" required>{{ reminder.message }}</textarea>

                    </div>
                    <div class="input-group" id="mention-input{{ reminder.uid }}" style="visibility: hidden;">
                        <div class="input-group-addon">
                            <i class="fas fa-at"></i>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Mention... (tip: use a double @ to get roles)
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown-mention" id="dropdown-mention{{ reminder.uid }}" style="max-height: 40vh; overflow-y: scroll;">
                            </ul>
                        </div>
                    </div>
                    <!-- /.input group -->
                </div>

                <!-- CHANNEL -->
                {% if server != None %}
                    <div class="form-group">
                        <label>Channel:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-comment-alt"></i>
                            </div>
                            <div class="dropdown">
                                <select name="channel_new" style="-webkit-appearance: none; -moz-appearance: none; appearance: none; height: 34px; width: 100%; border: 1px solid #ccc; cursor: pointer;">
                                    <option value="{{ reminder.channel }}" selected>{{ reminder.channel_name }} (current)</option>
                                    {% for channel in guild.channels %}
                                        <option value="{{ channel.channel }}">{{ channel.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        <label>Username (optional):</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-file-signature"></i>
                            </div>
                            <input type="text" class="form-control pull-right" name="username" maxlength="32" value="{{ reminder.username }}"></input>
                        </div>
                    </div>

                {% else %}
                    <input type="text" name="channel_new" value="{{ member.dm_channel }}" id="input-channel" hidden required>
                {% endif %}

                <input name="time_new" value="0" id="time_new{{ reminder.uid }}" hidden></input>

                <!-- DATE -->
                <div class="form-group">
                    <label>Date:</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="datepicker{{ reminder.uid }}" name="date"></input>
                    </div>
                    <!-- /.input group -->
                </div>
                <!-- TIME -->
                <div class="bootstrap-timepicker">
                    <div class="form-group">
                        <label>Time:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-clock"></i>
                            </div>
                            <input type="text" class="form-control timepicker" id="timepicker{{ reminder.uid }}" name="time"></input>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                </div>

                {% if member.patreon %}
                    <input type="hidden" value="0" name="enabled"></input>

                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" name="enabled" {{ 'checked' if reminder.enabled }}></input>Enabled?</label>
                        </div>
                    </div>

                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>Interval:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fas fa-clock"></i>
                                </div>
                                {% if reminder.interval != None %}
                                    <input type="number" class="form-control pull-left" id="interval_{{ reminder.uid }}" name="interval" value="{{ reminder.interval }}" style="width: 65%"></input>

                                    <select id="multiplier_{{ reminder.uid }}" name="multiplier" style="-webkit-appearance: none; -moz-appearance: none; appearance: none; height: 34px; width: 25%; border: 1px solid #ccc; cursor: pointer;">
                                        <option value="1" onclick="change_multiplier{{ reminder.uid }}()" selected>seconds</option>
                                        <option value="60" onclick="change_multiplier{{ reminder.uid }}()">minutes</option>
                                        <option value="3600" onclick="change_multiplier{{ reminder.uid }}()">hours</option>
                                        <option value="86400" onclick="change_multiplier{{ reminder.uid }}()">days</option>
                                    </select>

                                    <button type="button" class="btn btn-danger" onclick="send_delete_i('{{ reminder.uid }}')"><i class="fas fa-trash"></i></button>

                                    <script>

var before{{ reminder.uid }} = 1;

function change_multiplier{{ reminder.uid }}() {
    var e = document.getElementById('multiplier_{{ reminder.uid }}').value;

    document.getElementById('interval_{{ reminder.uid }}').value *= before{{ reminder.uid }} / e;

    before{{ reminder.uid }} = e;
}

                                    </script>
                                {% else %}
                                    <input type="number" class="form-control pull-left" name="interval_new" value="" style="width: 75%;"></input>

                                    <select name="multiplier_new" style="-webkit-appearance: none; -moz-appearance: none; appearance: none; height: 34px; width: 25%; border: 1px solid #ccc; cursor: pointer;">
                                        <option value="1" selected>seconds</option>
                                        <option value="60">minutes</option>
                                        <option value="3600">hours</option>
                                        <option value="86400">days</option>
                                    </select>
                                {% endif %}
                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                    </div>

                    {% if server != None %}
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input 
                                    type="checkbox" 
                                    id="checkb{{ reminder.uid }}"
                                    name="embed" 
                                    onclick="toggle_colorpicker{{ reminder.uid }}()" 
                                    {{ 'checked' if reminder.embed != None }}></input> Send as Embed?</label>
                            </div>
                        </div>

                        <div class="colorpicker-component" id="colorpicker{{ reminder.uid }}">
                            <div class="form-group">
                                <label>Embed Color:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fas fa-palette"></i>
                                    </div>
                                    <div id="cp{{ reminder.uid }}" class="input-group colorpicker-component">
                                        <input type="text" value="#{{ reminder.hex_color() }}" class="form-control" name="color"></input>
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>

$(function() {
    $('#cp{{ reminder.uid }}').colorpicker({"format": "hex"});
});

function toggle_colorpicker{{ reminder.uid }}()
{
    check = document.getElementById("checkb{{ reminder.uid }}");
    if (check.checked)
    {
        document.getElementById("colorpicker{{ reminder.uid }}").style.opacity = 1;
    }
    else
    {
        document.getElementById("colorpicker{{ reminder.uid }}").style.opacity = 0;
    }
}

toggle_colorpicker{{ reminder.uid }}();

                        </script>

                        <div class="form-group">
                            <label>Avatar:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fas fa-camera"></i>
                                </div>
                                <input type="text" class="form-control pull-right" name="avatar" value="{{ reminder.avatar }}"></input>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                
                <script>

function update_time()
{
    t_time = document.getElementById("timepicker{{ reminder.uid }}");
    d_time = document.getElementById("datepicker{{ reminder.uid }}");

    m = moment(d_time.value + ' ' + t_time.value, 'YYYY/MM/DD HH:mm:ss A');

    document.getElementById("time_new{{ reminder.uid if reminder else "" }}").value = m.unix();
}

current = moment.unix({{ reminder.time if reminder else time }});

//Date picker
$('#datepicker{{ reminder.uid }}').datepicker({
    format: 'yyyy/mm/dd',
    autoclose: true,
});

$('#datepicker{{ reminder.uid }}').datepicker('update', current.toDate());
//Timepicker
$('#timepicker{{ reminder.uid }}').timepicker({
    minuteStep: 1,
    showInputs: false,
    showSeconds: true,
    defaultTime: current.format('hh:mm A'),
});

$("#datepicker{{ reminder.uid }}").change(update_time);
$("#timepicker{{ reminder.uid }}").change(update_time);

update_time();

                </script>

                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Save Changes</button>
                    <button type="button" onclick="send_delete('{{ reminder.uid }}')" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>