<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title>Cookie Notes</title>

    </head>
    <body>

        <h1>Cookies and Session Data</h1>

        <p>This website uses some cookies and some session data. None of these can be disabled since they are necessary to operate the site.
        The data this site stores locally is not shared to any other sites. Session data is signed to prevent modification.</p>

        <h2>The dashboard on this website uses cookies and session data to operate</h2>

        <h3>Cookies</h3>

        <p>We store the following cookies:</p>

        <ul>
            <li><code>meridian</code>: Whether times are to be formatted in 12 hour or 24 hour</li>
            <li><code>guild-order</code>: The order of the guilds in the sidebar (drag-and-drop to rearrange them)</li>
            <li><code>asked-cookies</code>: Set if you've already closed the cookie warning</li>
        </ul>

        <h3>Session Data</h3>

        <p>We store the following session data:</p>

        <ul>
            <li>Discord OAuth tokens necessary for querying the user ID and the guilds from your Discord.</li>
            <li>Internal ID used to modify or reference your user when you make requests to our API</li>
        </ul>

    </body>
</html>