<div class="col-md-12 col-lg-4" style="
-webkit-box-shadow: 10px 10px 18px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 18px 1px rgba(0,0,0,0.75);
box-shadow: 10px 10px 18px 1px rgba(0,0,0,0.75);">
    <div class="card box box-body">
        <form method="post" action="{{ url_for('change_reminder', redirect=server.guild or 0, index=None) }}" id="form{{ reminder.uid }}">
            <div class="card-header">
                <h4><strong>Add Reminder</strong></h4>
            </div>
            <div class="card-body">
                <div id="modal">
                    <!-- This div is for writing error messages into DO NOT DELETE -->
                </div>

                <div class="form-group">
                    <label>Message:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </div>

                        <textarea type="text" name="message_new" class="form-control pull-right" maxlength="2000" id="input-message" required></textarea>

                    </div>
                    <div class="input-group" id="mention-input" style="visibility: hidden;">
                        <div class="input-group-addon">
                            <i class="fas fa-at"></i>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Mention... (hint: use a double @ to get roles)
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown-mention" id="dropdown-mention" style="max-height: 40vh; overflow-y: scroll;">
                            </ul>
                        </div>
                    </div>
                    <!-- /.input group -->
                </div>

                <!-- CHANNEL -->
                {% if server != None %}
                    <div class="form-group">
                        <label>Channel:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-comment-alt"></i>
                            </div>
                            <div class="dropdown">
                                <select name="channel_new" style="-webkit-appearance: none; -moz-appearance: none; appearance: none; height: 34px; width: 100%; border: 1px solid #ccc; cursor: pointer;">
                                    {% for channel in guild.channels %}
                                        <option value="{{ channel.channel }}">{{ channel.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="form-group">
                        <label>Username (optional):</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-file-signature"></i>
                            </div>
                            <input type="text" class="form-control pull-right" name="username" maxlength="32" value=""></input>
                        </div>
                    </div>

                {% else %}
                    <input type="text" name="channel_new" value="{{ member.dm_channel }}" id="input-channel" hidden required>
                {% endif %}

                <input name="time_new" value="0" id="time_new" hidden></input>

                <!-- DATE -->
                <div class="form-group">
                    <label>Date:</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="datepicker" name="date"></input>
                    </div>
                    <!-- /.input group -->
                </div>
                <!-- TIME -->
                <div class="bootstrap-timepicker">
                    <div class="form-group">
                        <label>Time:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-clock"></i>
                            </div>
                            <input type="text" class="form-control timepicker" id="timepicker" name="time"></input>
                        </div>
                        <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                </div>

                {% if member.patreon %}
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>Intervals:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fas fa-clock"></i>
                                </div>
                                
                                <input type="number" class="form-control pull-left" name="interval_new" value="" style="width: 75%;"></input>

                                <select name="multiplier_new" style="-webkit-appearance: none; -moz-appearance: none; appearance: none; height: 34px; width: 25%; border: 1px solid #ccc; cursor: pointer;">
                                    <option value="1" selected>seconds</option>
                                    <option value="60">minutes</option>
                                    <option value="3600">hours</option>
                                    <option value="86400">days</option>
                                </select>
                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                    </div>

                    {% if server != None %}
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input 
                                    type="checkbox" 
                                    id="checkb"
                                    name="embed" 
                                    onclick="toggle_colorpicker()" ></input> Send as Embed?</label>
                            </div>
                        </div>

                        <div class="colorpicker-component" id="colorpicker">
                            <div class="form-group">
                                <label>Embed Color:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fas fa-palette"></i>
                                    </div>
                                    <div id="cp" class="input-group">
                                        <input type="text" value="#000000" class="form-control" name="color"></input>
                                        <span class="input-group-addon"><i></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>

$(function() {
    $('#cp').colorpicker({"format": "hex"});
});

function toggle_colorpicker()
{
    check = document.getElementById("checkb");
    if (check.checked)
    {
        document.getElementById("colorpicker").style.opacity = 1;
    }
    else
    {
        document.getElementById("colorpicker").style.opacity = 0;
    }
}

toggle_colorpicker();

                        </script>

                        <div class="form-group">
                            <label>Avatar:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fas fa-camera"></i>
                                </div>
                                <input type="text" class="form-control pull-right" name="avatar" value=""></input>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                
                <script>

function update_time()
{
    t_time = document.getElementById("timepicker");
    d_time = document.getElementById("datepicker");

    m = moment(d_time.value + ' ' + t_time.value, 'YYYY/MM/DD HH:mm:ss A');

    document.getElementById("time_new").value = m.unix();
}

current = moment.unix({{ time }});

//Date picker
$('#datepicker').datepicker({
    format: 'yyyy/mm/dd',
    autoclose: true,
});

$('#datepicker').datepicker('update', current.toDate());
//Timepicker
$('#timepicker').timepicker({
    minuteStep: 1,
    showInputs: false,
    showSeconds: true,
    defaultTime: current.format('hh:mm A'),
});

$("#datepicker").change(update_time);
$("#timepicker").change(update_time);

update_time();

                </script>

                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Create New</button>
                </div>
            </div>
        </form>
    </div>
</div>