<html lang="EN">
<head>
    <meta name="description" content="The most powerful Discord Reminders Bot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="bb77b8681eb64a90" />
    <meta name="google-site-verification" content="7h7UVTeEe0AOzHiH3cFtsqMULYGN-zCZdMT_YCkW1Ho" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="/{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Reminder Bot | Dashboard</title>

    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fa.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <nav class="navbar is-spaced is-size-4 is-hidden-desktop dashboard-navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">
                <figure class="image">
                    <img src="{{ url_for('static', filename='img/logo_flat.jpg') }}" alt="Reminder Bot Logo">
                </figure>
            </a>

            <a role="button" class="navbar-burger is-right" aria-label="menu" aria-expanded="false" data-target="mobileSidebar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>

    <div class="columns is-gapless dashboard-frame">
        <div class="column is-2 is-sidebar-menu dashboard-sidebar is-hidden-touch">
            <a href="{{ url_for('index') }}">
                <div class="brand">
                    <img src="{{ url_for('static', filename='img/logo_flat.jpg') }}" alt="Reminder bot logo" class="dashboard-brand">
                </div>
            </a>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160">
                <g transform="scale(1, 0.5)">
                    <path fill="#8fb677" fill-opacity="1" d="M0,192L60,170.7C120,149,240,107,360,96C480,85,600,107,720,138.7C840,171,960,213,1080,197.3C1200,181,1320,107,1380,69.3L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
                </g>
            </svg>
            <aside class="menu">
                <p class="menu-label">
                    Sync
                </p>
                <ul class="menu-list">
                    <li>
                        {% if True %}
                            <a><span class="icon"><i class="fad fa-sync-alt"></i></span> Sync Server</a>
                        {% else %}
                            <a><span class="icon"><i class="fad fa-sync-alt"></i></span> Sync Server</a>
                        {% endif %}
                    </li>
                    <li>
                        <a><span class="icon"><i class="fad fa-sync-alt"></i></span> Sync User</a>
                    </li>
                </ul>
                <p class="menu-label">
                    Personal
                </p>
                <ul class="menu-list">
                    {% if is_personal %}
                        <li><a href="{{ url_for('personal_dashboard') }}" class="is-active"><span class="icon"><i class="fas fa-map-pin"></i></span> @{{ member.name }}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('personal_dashboard') }}"><span class="icon"><i class="fas fa-map-pin"></i></span> @{{ member.name }}</a></li>
                    {% endif %}
                </ul>
                <p class="menu-label">
                    Servers
                </p>
                <ul class="menu-list">
                    {% for user_guild in guilds %}
                        {% if user_guild.guild == guild.guild %}
                            <li><a href="{{ url_for('server_dashboard', id=user_guild.guild) }}" class="is-active"><span class="icon"><i class="fas fa-map-pin"></i></span> {{ user_guild.name }}</a></li>
                        {% else %}
                            <li><a href="{{ url_for('server_dashboard', id=user_guild.guild) }}"><span class="icon"><i class="fas fa-map-pin"></i></span> {{ user_guild.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </aside>
        </div>

        <div class="dashboard-sidebar mobile-sidebar is-hidden-desktop" id="mobileSidebar">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160">
                <g transform="scale(1, 0.5)">
                    <path fill="#8fb677" fill-opacity="1" d="M0,192L60,170.7C120,149,240,107,360,96C480,85,600,107,720,138.7C840,171,960,213,1080,197.3C1200,181,1320,107,1380,69.3L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
                </g>
            </svg>
            <aside class="menu">
                <p class="menu-label">
                    Sync
                </p>
                <ul class="menu-list">
                    <li><a><span class="icon"><i class="fad fa-sync-alt"></i></span> Sync Server</a></li>
                    <li><a><span class="icon"><i class="fad fa-sync-alt"></i></span> Sync User</a></li>
                </ul>
                <p class="menu-label">
                    Personal
                </p>
                <ul class="menu-list">
                    {% if is_personal %}
                        <li><a href="{{ url_for('personal_dashboard') }}" class="is-active"><span class="icon"><i class="fas fa-map-pin"></i></span> @{{ member.name }}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('personal_dashboard') }}"><span class="icon"><i class="fas fa-map-pin"></i></span> @{{ member.name }}</a></li>
                    {% endif %}
                </ul>
                <p class="menu-label">
                    Servers
                </p>
                <ul class="menu-list">
                    {% for user_guild in guilds %}
                        {% if user_guild.guild == guild.guild %}
                            <li><a href="{{ url_for('server_dashboard', id=user_guild.guild) }}" class="is-active"><span class="icon"><i class="fas fa-map-pin"></i></span> {{ user_guild.name }}</a></li>
                        {% else %}
                            <li><a href="{{ url_for('server_dashboard', id=user_guild.guild) }}"><span class="icon"><i class="fas fa-map-pin"></i></span> {{ user_guild.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </aside>
        </div>

        <div class="column is-main-content">

            {% block dashboard_frame %}
            {% endblock %}

        </div>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Reminder Bot</strong>, created by <a href="https://github.com/JellyWX"><strong>JellyWX</strong></a>
                <br>
                <a href="https://patreon.com/jellywx"><strong>Patreon</strong></a> | <a href="https://discord.jellywx.com"><strong>Discord</strong></a> | <a href="https://github.com/JellyWX"><strong>GitHub</strong></a>
                <br>
                or, <a href="mailto:jude@jellywx.com">Email me</a>
            </p>
        </div>
    </footer>

    <script>

        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                    });
                });
            }
        });

        document.querySelectorAll('textarea.autoresize').forEach((element) => {
            element.style.height = "";
            element.style.height = element.scrollHeight + 3 + "px";

            element.addEventListener('input', (_e) => {
                element.style.height = "";
                element.style.height = element.scrollHeight + 3 + "px";
            })
        });

        document.querySelectorAll('.customizable').forEach((element) => {
            const $input = element.querySelector('input');
            const $img = element.querySelector('img');

            element.querySelector('a').addEventListener('click', (e) => {
                e.preventDefault();

                $input.classList.toggle('is-active')
            });

            $input.addEventListener('input', () => {
                $img.src = $input.value;
            });
        });

    </script>
</body>
</html>