<html lang="EN">
<head>
    <meta name="description" content="The most powerful Discord Reminders Bot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="bb77b8681eb64a90" />
    <meta name="google-site-verification" content="7h7UVTeEe0AOzHiH3cFtsqMULYGN-zCZdMT_YCkW1Ho" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="/{{ url_for('static', filename='favicon/site.webmanifest') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Reminder Bot | Dashboard</title>

    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fa.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <nav class="navbar is-spaced is-size-4 is-hidden-desktop dashboard-navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">
                <figure class="image">
                    <img src="{{ url_for('static', filename='img/logo_flat.jpg') }}" alt="Reminder Bot Logo">
                </figure>
            </a>

            <a role="button" class="navbar-burger is-right" aria-label="menu" aria-expanded="false" data-target="mobileSidebar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>

    <div class="modal" id="addImageModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <label class="modal-card-title" for="urlInput">Enter Image URL</label>
                <button class="delete close-modal" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <input class="input" id="urlInput" placeholder="Image URL...">
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">Save</button>
                <button class="button close-modal">Cancel</button>
            </footer>
        </div>
        <button class="modal-close is-large close-modal" aria-label="close"></button>
    </div>

    <div class="modal is-active" id="pickColorModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <label class="modal-card-title" for="colorInput">Select Color</label>
                <button class="delete close-modal" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div style="display: flex; align-items: center;">
                    <div id="colorPicker" style="width: 150px; height: 150px; background-color: #ff0000;">
                        <img src="{{ url_for('static', filename='img/saturation_value_gradient.png') }}" alt="colorpicker overlay">
                    </div>
                    <canvas width="30px" height="150px" id="colorSlider"></canvas>
                </div>
                <input class="input" id="colorInput">
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">Save</button>
                <button class="button close-modal">Cancel</button>
            </footer>
        </div>
        <button class="modal-close is-large close-modal" aria-label="close"></button>
    </div>

    <div class="columns is-gapless dashboard-frame">
        <div class="column is-2 is-sidebar-menu dashboard-sidebar is-hidden-touch">
            <a href="{{ url_for('index') }}">
                <div class="brand">
                    <img src="{{ url_for('static', filename='img/logo_flat.jpg') }}" alt="Reminder bot logo" class="dashboard-brand">
                </div>
            </a>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160">
                <g transform="scale(1, 0.5)">
                    <path fill="#8fb677" fill-opacity="1" d="M0,192L60,170.7C120,149,240,107,360,96C480,85,600,107,720,138.7C840,171,960,213,1080,197.3C1200,181,1320,107,1380,69.3L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
                </g>
            </svg>
            <aside class="menu">
                <p class="menu-label">
                    Sync
                </p>
                <ul class="menu-list">
                    <li>
                        {% if True %}
                            <a><span class="icon"><i class="fad fa-sync-alt"></i></span> Sync Server</a>
                        {% else %}
                            <a><span class="icon"><i class="fad fa-sync-alt"></i></span> Sync Server</a>
                        {% endif %}
                    </li>
                    <li>
                        <a><span class="icon"><i class="fad fa-sync-alt"></i></span> Sync User</a>
                    </li>
                </ul>
                <p class="menu-label">
                    Personal
                </p>
                <ul class="menu-list">
                    {% if is_personal %}
                        <li><a href="{{ url_for('personal_dashboard') }}" class="is-active"><span class="icon"><i class="fas fa-map-pin"></i></span> @{{ member.name }}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('personal_dashboard') }}"><span class="icon"><i class="fas fa-map-pin"></i></span> @{{ member.name }}</a></li>
                    {% endif %}
                </ul>
                <p class="menu-label">
                    Servers
                </p>
                <ul class="menu-list">
                    {% for user_guild in guilds %}
                        {% if user_guild.guild == guild.guild %}
                            <li><a href="{{ url_for('server_dashboard', id=user_guild.guild) }}" class="is-active"><span class="icon"><i class="fas fa-map-pin"></i></span> {{ user_guild.name }}</a></li>
                        {% else %}
                            <li><a href="{{ url_for('server_dashboard', id=user_guild.guild) }}"><span class="icon"><i class="fas fa-map-pin"></i></span> {{ user_guild.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </aside>
        </div>

        <div class="dashboard-sidebar mobile-sidebar is-hidden-desktop" id="mobileSidebar">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160">
                <g transform="scale(1, 0.5)">
                    <path fill="#8fb677" fill-opacity="1" d="M0,192L60,170.7C120,149,240,107,360,96C480,85,600,107,720,138.7C840,171,960,213,1080,197.3C1200,181,1320,107,1380,69.3L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
                </g>
            </svg>
            <aside class="menu">
                <p class="menu-label">
                    Sync
                </p>
                <ul class="menu-list">
                    <li><a><span class="icon"><i class="fad fa-sync-alt"></i></span> Sync Server</a></li>
                    <li><a><span class="icon"><i class="fad fa-sync-alt"></i></span> Sync User</a></li>
                </ul>
                <p class="menu-label">
                    Personal
                </p>
                <ul class="menu-list">
                    {% if is_personal %}
                        <li><a href="{{ url_for('personal_dashboard') }}" class="is-active"><span class="icon"><i class="fas fa-map-pin"></i></span> @{{ member.name }}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('personal_dashboard') }}"><span class="icon"><i class="fas fa-map-pin"></i></span> @{{ member.name }}</a></li>
                    {% endif %}
                </ul>
                <p class="menu-label">
                    Servers
                </p>
                <ul class="menu-list">
                    {% for user_guild in guilds %}
                        {% if user_guild.guild == guild.guild %}
                            <li><a href="{{ url_for('server_dashboard', id=user_guild.guild) }}" class="is-active"><span class="icon"><i class="fas fa-map-pin"></i></span> {{ user_guild.name }}</a></li>
                        {% else %}
                            <li><a href="{{ url_for('server_dashboard', id=user_guild.guild) }}"><span class="icon"><i class="fas fa-map-pin"></i></span> {{ user_guild.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </aside>
        </div>

        <div class="column is-main-content">

            {% block dashboard_frame %}
            {% endblock %}

        </div>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Reminder Bot</strong>, created by <a href="https://github.com/JellyWX"><strong>JellyWX</strong></a>
                <br>
                <a href="https://patreon.com/jellywx"><strong>Patreon</strong></a> | <a href="https://discord.jellywx.com"><strong>Discord</strong></a> | <a href="https://github.com/JellyWX"><strong>GitHub</strong></a>
                <br>
                or, <a href="mailto:jude@jellywx.com">Email me</a>
            </p>
        </div>
    </footer>

    <template id="embedFieldTemplate">
        <div class="embed-field-box">
            <label class="is-sr-only" for="embedFieldTitle">Field Title</label>
            <input class="discord-field-title field-input message-input" placeholder="Field Title..."
                   maxlength="256" id="embedFieldTitle" name="embed_field_title[]">

            <label class="is-sr-only" for="embedFieldValue">Field Value</label>
            <textarea class="discord-field-value field-input message-input autoresize" placeholder="Field Value..."
                      maxlength="1024" id="embedFieldValue" name="embed_field_value[]"
                      rows="1"></textarea>
        </div>
    </template>

    <script>

        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                    });
                });
            }
        });

        document.querySelectorAll('textarea.autoresize').forEach((element) => {
            element.style.height = "";
            element.style.height = element.scrollHeight + 3 + "px";

            element.addEventListener('input', (_e) => {
                element.style.height = "";
                element.style.height = element.scrollHeight + 3 + "px";
            })
        });

        let $colorPicker = document.querySelector('div#colorPicker');
        let $colorSlider = document.querySelector('canvas#colorSlider');
        let $colorInput = document.querySelector('input#colorInput');
        let sliderContext = $colorSlider.getContext('2d');
        let gradient = sliderContext.createLinearGradient(0, 0, 0, sliderContext.canvas.height);
        gradient.addColorStop(0,    "rgb(255,   0,   0)");
        gradient.addColorStop(0.15, "rgb(255,   0, 255)");
        gradient.addColorStop(0.33, "rgb(0,     0, 255)");
        gradient.addColorStop(0.49, "rgb(0,   255, 255)");
        gradient.addColorStop(0.67, "rgb(0,   255,   0)");
        gradient.addColorStop(0.84, "rgb(255, 255,   0)");
        gradient.addColorStop(1,    "rgb(255,   0,   0)");
        sliderContext.fillStyle = gradient;
        sliderContext.fillRect(0, 0, sliderContext.canvas.width, sliderContext.canvas.height);

        let pickerMouseDown = false;

        let sliderPosition = 0;
        let sliderColor = [255, 0, 0];
        let sliderMouseDown = false;

        function sliderPositionToColor() {
            if (0 <= sliderPosition && sliderPosition < 0.15) {
                sliderColor[0] = 255;
                sliderColor[1] = 0;
                sliderColor[2] = 255 * (sliderPosition / 0.15);
            } else if (0.15 <= sliderPosition && sliderPosition < 0.33) {
                sliderColor[0] = 255 - (255 * ((sliderPosition - 0.15) / 0.18));
                sliderColor[1] = 0;
                sliderColor[2] = 255;
            } else if (0.33 <= sliderPosition && sliderPosition < 0.49) {
                sliderColor[0] = 0
                sliderColor[1] = 255 * ((sliderPosition - 0.33) / 0.16)
                sliderColor[2] = 255
            } else if (0.49 <= sliderPosition && sliderPosition < 0.67) {
                sliderColor[0] = 0;
                sliderColor[1] = 255;
                sliderColor[2] = 255 - (255 * ((sliderPosition - 0.49) / 0.18));
            } else if (0.67 <= sliderPosition && sliderPosition < 0.84) {
                sliderColor[0] = 255 * ((sliderPosition - 0.67) / 0.17);
                sliderColor[1] = 255;
                sliderColor[2] = 0;
            } else {
                sliderColor[0] = 255;
                sliderColor[1] = 255 - (255 * ((sliderPosition - 0.84) / 0.16));
                sliderColor[2] = 0;
            }
        }

        function rgbToHex(r, g, b) {
            return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
        }

        function setColorPicker() {
            $colorPicker.style.backgroundColor = rgbToHex(~~sliderColor[0], ~~sliderColor[1], ~~sliderColor[2]);
        }

        $colorPicker.addEventListener('mousedown', (e) => {
            pickerMouseDown = true;
        });

        $colorPicker.addEventListener('mouseup', (e) => {
            pickerMouseDown = false;
        });

        $colorPicker.addEventListener('mousemove', (e) => {
            if (pickerMouseDown === true) {
            }
        });

        $colorSlider.addEventListener('mousedown', (e) => {
            sliderMouseDown = true;
            sliderPosition = e.offsetY / sliderContext.canvas.height;
            sliderPositionToColor();
            setColorPicker();
        });

        $colorSlider.addEventListener('mouseup', (e) => {
            sliderMouseDown = false;
            sliderPosition = e.offsetY / sliderContext.canvas.height;
            sliderPositionToColor();
            setColorPicker();
        });

        $colorSlider.addEventListener('mousemove', (e) => {
            if (sliderMouseDown === true) {
                sliderPosition = e.offsetY / sliderContext.canvas.height;
                sliderPositionToColor();
                setColorPicker();
            }
        });

        let $img;
        const $urlModal = document.querySelector('div#addImageModal');
        const $urlInput = $urlModal.querySelector('input');

        $urlModal.querySelector('button.is-success').addEventListener('click', () => {
            $img.src = $urlInput.value;

            $urlInput.value = '';
            $urlModal.classList.remove('is-active')
        });

        $urlModal.querySelectorAll('button.close-modal').forEach((element) => {
            element.addEventListener('click', () => {
                $urlInput.value = '';
                $urlModal.classList.remove('is-active')
            });
        });

        document.querySelectorAll('.customizable').forEach((element) => {
            element.querySelector('a').addEventListener('click', (e) => {
                e.preventDefault();

                $img = element.querySelector('img');

                $urlModal.classList.toggle('is-active')
            });
        });

        document.querySelectorAll('a.icon-toggle').forEach((element) => {
            element.addEventListener('click', (e) => {
                e.preventDefault();

                element.classList.toggle('is-active');
            })
        });

        document.querySelectorAll('.discord-field-title').forEach((element) => {
            const $template = document.querySelector('template#embedFieldTemplate');
            const $complement = element.parentElement.querySelector('.discord-field-value');

            // when the user clicks out of the field title and if the field title/value are empty, remove the field
            element.addEventListener('blur', () => {
                if (element.value === '' && $complement.value === '' && element.parentElement.nextElementSibling !== null) {
                    element.parentElement.remove();
                }
            });

            $complement.addEventListener('blur', () => {
                if (element.value === '' && $complement.value === '' && element.parentElement.nextElementSibling !== null) {
                    element.parentElement.remove();
                }
            });

            // when the user inputs into the end field, create a new field after it
            element.addEventListener('input', () => {
                if (element.value !== '' && $complement.value !== '' && element.parentElement.nextElementSibling === null) {
                    const $clone = $template.content.cloneNode(true);
                    element.parentElement.parentElement.append($clone);
                }
            });

            $complement.addEventListener('input', () => {
                if (element.value !== '' && $complement.value !== '' && element.parentElement.nextElementSibling === null) {
                    const $clone = $template.content.cloneNode(true);
                    element.parentElement.parentElement.append($clone);
                }
            });
        });

        document.addEventListener('DOMNodeInserted', () => {
            document.querySelectorAll('.discord-field-title').forEach((element) => {
                const $template = document.querySelector('template#embedFieldTemplate');
                const $complement = element.parentElement.querySelector('.discord-field-value');

                // when the user clicks out of the field title and if the field title/value are empty, remove the field
                element.addEventListener('blur', () => {
                    if (element.value === '' && $complement.value === '' && element.parentElement.nextElementSibling !== null) {
                        element.parentElement.remove();
                    }
                });

                $complement.addEventListener('blur', () => {
                    if (element.value === '' && $complement.value === '' && element.parentElement.nextElementSibling !== null) {
                        element.parentElement.remove();
                    }
                });

                // when the user inputs into the end field, create a new field after it
                element.addEventListener('input', () => {
                    if (element.value !== '' && $complement.value !== '' && element.parentElement.nextElementSibling === null) {
                        const $clone = $template.content.cloneNode(true);
                        element.parentElement.parentElement.append($clone);
                    }
                });

                $complement.addEventListener('input', () => {
                    if (element.value !== '' && $complement.value !== '' && element.parentElement.nextElementSibling === null) {
                        const $clone = $template.content.cloneNode(true);
                        element.parentElement.parentElement.append($clone);
                    }
                });
            });

            document.querySelectorAll('textarea.autoresize').forEach((element) => {
                element.style.height = "";
                element.style.height = element.scrollHeight + 3 + "px";

                element.addEventListener('input', (_e) => {
                    element.style.height = "";
                    element.style.height = element.scrollHeight + 3 + "px";
                })
            });
        });

    </script>
</body>
</html>