{% extends "dashboard_base.html" %}
{% block content %}

{% if not out %}
    <section class="content-header">
        <h1>
            Dashboard
            <small>Reminders</small>
        </h1>
    </section>

    <section class="content">

        <div class="container" style="width: 100%">
            <div class="row" style="width: 100%">
                {% include "create_card.html" %}

                {% for reminder in reminders %}

                    {% include "card.html" %}

                {% endfor %}
            </div>
        </div>

    </section>

{% else %}
    <section class="content-header">
        <h1>
            Please select a guild.
        </h1>
        <p class="text-muted">This website is tested on Firefox. Some features require default JavaScript settings. Please report any issues in my Discord guild.</p>
    </section>
{% endif %}

<script>

{% if guild != None %}
let channels = {
    {% for channel in guild.channels %}
        {% if channel.name != None %}
            "{{ channel.name.replace('\\', '')[:32] }}": "{{ channel.channel }}",
        {% endif %}
    {% endfor %}
};

let members = {
    {% for m in guild.partials %}
    "{{ m.name.replace('\\', '').lower()[:32] }}": "{{ m.user }}",
    {% endfor %}
};

let roles = {
    {% for role in guild.roles %}
    "@{{ role.name.replace('\\', '').lower()[:32] }}": "&{{ role.role }}",
    {% endfor %}
};

function mention(constructed_mention, reminder_uid)
{
    let value = document.getElementById("input-message" + reminder_uid).value;
    value = value.split(" ").slice(0, -1).join(" ") + " " + constructed_mention;
    document.getElementById("input-message" + reminder_uid).value = value;
}

function manage_characters(change_event, i)
{
    let text = change_event.target.value;
    let parts = text.split(" ");
    let last = parts[parts.length-1].toLowerCase();
    let name = last.slice(1);

    let type = last[0];

    let out = [];

    if ( type === "@" ) {
        let roles_also = last[1] === "@";
        let set;

        if ( roles_also ) 
        {
            set = roles;
        }
        else 
        {
            set = members;
        }

        document.getElementById("mention-input" + i).style.display = "table";

        for (let key in set )
        {
            if ( key.includes(name) )
            {
                out.push("@" + key);
            }
        }
    }
    else if ( type === "#" ) {
        document.getElementById("mention-input" + i).style.display = "table";

        for (let key in channels)
        {
            if ( key.includes(name) )
            {
                out.push("#" + key);
            }
        }
    }
    else {
        document.getElementById("mention-input" + i).style.display = "none";
    }

    document.getElementById("dropdown-mention" + i).innerHTML = "";

    out.sort();

    for (let el in out) {
        let name_n = out[el];

        if ( type === "@" ) {
            let id;

            if ( last[1] === "@" ) {
                id = roles[name_n.slice(1)];
            }
            else {
                id = members[name_n.slice(1)];
            }
            document.getElementById("dropdown-mention" + i).innerHTML += `<li><a onclick="mention('<@${id}>', '${i}')">${name_n}</a></li>`;
        }
        else {
            let id = channels[name_n.slice(1)];
            document.getElementById("dropdown-mention" + i).innerHTML += `<li><a onclick="mention('<#${id}>', '${i}')">${name_n}</a></li>`;
        }
    }
}

function m(e) {
    manage_characters(e, "");
}

document.getElementById("input-message").addEventListener("input", m);

{% endif %}
{# end of guild-only code #}

function send_delete_i(reminder, interval) {
    let request = new XMLHttpRequest();
    request.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
            location.reload();
        }
    };
    request.open("GET", "{{ url_for('delete_interval') }}" + "?reminder=" + reminder + "&interval=" + interval, true);
    request.send();
}

$('.delete-reminder').on('click', function (event) {
    event.preventDefault();

    let card = $(this).closest('.reminder-card');

    let uid = card.data('uid');

    $.ajax({
        url: '{{ url_for('delete_reminder') }}',
        data: JSON.stringify({uid: uid}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function(_d, _t, _j) {
            card.fadeOut(500, function() {
                card.parent().remove();
            });
        }
    })
});

$('.toggle-enabled').on('click', function (event) {
    event.preventDefault();

    let button = $(this);
    let card = button.closest('.reminder-card');

    let uid = card.data('uid');

    $.ajax({
        url: '{{ url_for('toggle_enabled') }}',
        data: JSON.stringify({uid: uid}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function(data, _t, _x) {
            if (data.enabled) {
                card.fadeTo(100, 1);
                button.html('Disable');
            }
            else {
                card.fadeTo(100, 0.5);
                button.html('Enable');
            }
        }
    })
});

let reminder_name = $('.reminder-name');

reminder_name.keyup(function (e) {
    if (e.keyCode === 13) {
        $(this).blur();
    }
});

reminder_name.on('blur', function () {
    let uid = $(this).closest('.reminder-card').data('uid');

    let save_icon = $(this).siblings('.saving-icon');

    save_icon.stop();

    save_icon.removeClass('fa-check');
    save_icon.addClass('fa-save');

    save_icon.fadeTo(50, 1);

    $.ajax({
        url: '{{ url_for('change_name') }}',
        data: JSON.stringify({name: $(this).val(), uid: uid}),
        contentType: 'application/json; charset=utf-8',
        method: 'POST',

        success: function(_d, _t, _j) {
            save_icon.removeClass('fa-save');
            save_icon.addClass('fa-check');

            save_icon.fadeTo(2000, 0)
        }
    });
});

        </script>

{% endblock %}