<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="/{{ url_for('static', filename='favicon/site.webmanifest') }}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <title>Reminder Bot | Dashboard</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fa.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-timepicker.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-colorpicker.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/js.cookie.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-timepicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-colorpicker.min.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">

    </head>

    <body class="hold-transition skin-green sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <a href="{{ url_for('help_page') }}" class="logo hidden-xs">
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">
                        Reminder Bot
                    </span>
                </a>

                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle visible-xs" data-toggle="push-menu" role="button">
                        <i class="fas fa-bars"></i>
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                </nav>
            </header>

            <aside class="main-sidebar" style="padding-top: 60px;">
                <section class="sidebar">
                    <ul class="sidebar-menu" data-widget="tree">

                        <li style="margin-left: 1rem;"><a href="{{ url_for('dashboard', id=guild.guild, refresh=1) }}"><i class="fas fa-sync-alt"></i> <i class="fab fa-discord"></i> Sync server data</a></li>
                        <li style="margin-left: 1rem;"><a href="{{ url_for('dashboard', refresh=1) }}"><i class="fas fa-sync-alt"></i> <i class="fab fa-discord"></i> Sync member data</a></li>
                        <li style="margin-left: 2rem; margin-bottom: 1rem;"><a href="{{ url_for('dashboard', id=0) }}">@{{ member.name }}</a></li>

                        <li class="header">GUILDS</li>
                    </ul>
                    <ul class="sidebar-menu" id="sortable" data-widget="tree" data-animation-speed="0">
                        {% for display_guild in guilds %}
                            <li class="treeview {{ 'active menu-open' if display_guild == guild else '' }} guild-item" style="margin-left: 2rem;" data-id="{{ display_guild.id }}">
                                <a href="#">{{ display_guild.name }}</a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ url_for('dashboard', id=display_guild.guild) }}">Reminders</a></li>
                                    <li><a href="{{ url_for('todo_dashboard', id=display_guild.guild) }}">Todo Lists</a></li>
                                    <li><a href="{{ url_for('settings_dashboard', id=display_guild.guild) }}">Settings</a></li>
                                    <li><a href="{{ url_for('audit_log', id=display_guild.guild) }}">Reminder Audit Log</a></li>
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </aside>

            <div class="content-wrapper">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div class="cookie-alert">
            This website uses first-party cookies and session data to operate.
            <span class="vertical-divider">|</span> <a href="{{ url_for('cookies') }}">Learn more</a>
            <a href="javascript:close_cookie_notice()" class="pull-right" style="color: white;">&times;</a>
        </div>

    <script>

if (Cookies.get('asked-cookies') === "true") {
    close_cookie_notice();
}

function close_cookie_notice() {
    Cookies.set('asked-cookies', true, { sameSite: 'strict' });
    $('.cookie-alert').hide();
}

let $sortable = $('ul#sortable');

if (Cookies.get('guild-order') !== undefined) {
    let guild_order = JSON.parse(Cookies.get('guild-order'));
    let list_items = $sortable.find('li.guild-item');

    list_items.detach().sort(function (a, b) {
        return guild_order.indexOf($(a).data('id')) > guild_order.indexOf($(b).data('id'))
    });

    $sortable.append(list_items);
}

$sortable.sortable({
    stop: function () {
        let order = [];

        $('#sortable').find('li.guild-item').each(function (index, item) {
            order.push($(item).data('id'));
        });

        Cookies.set('guild-order', JSON.stringify(order), { sameSite: 'strict' });
    }
});


$(function() {
    $(".no-spaces").on({

       keydown: function(e) {
          // 32 - ASCII for Space;
          if (e.which === 32)
             return false;
       },

       change: function() {
          this.value = this.value.replace(/\s/g, "");
       }
    });
});

    </script>

    </body>
</html>
