{% extends "dashboard_base.html" %}
{% block content %}

{% if not out %}
    <section class="content-header">
        <h1>
            Dashboard
            <small>Reminders</small>
        </h1>
    </section>

    <section class="content">

        <div class="container" style="width: 100%">
            <div class="row" style="width: 100%">
                {% for reminder in reminders %}

                    {% include "card.html" %}

                {% endfor %}

                {% include "create_card.html" %}
            </div>
        </div>

    </section>

{% else %}
    <section class="content-header">
        <h1>
            Please select a guild.
        </h1>
        <p class="text-muted">This website is tested on Chrome and Firefox. Please report any issues in my Discord guild.</p>
    </section>
{% endif %}

<script>

{% if server != None %}
var channels = {
    {% for channel in guild.channels %}
    "{{ channel.name.replace('\\', '')[:32] }}": "{{ channel.channel }}",
    {% endfor %}
};

var members = {
    {% for m in guild.partials %}
    "{{ m.name.replace('\\', '').lower()[:32] }}": "{{ m.user }}",
    {% endfor %}
};

var roles = {
    {% for role in guild.roles %}
    "@{{ role.name.replace('\\', '').lower()[:32] }}": "&{{ role.role }}",
    {% endfor %}
};

function mention(id, i)
{
    var value = document.getElementById("input-message" + i).value;
    value = value.split(" ").slice(0, -1).join(" ") + " " + id;
    document.getElementById("input-message" + i).value = value;
}

function manage_characters(e, i)
{
    var text = e.target.value;
    var parts = text.split(" ");
    var last = parts[parts.length-1].toLowerCase();
    var name = last.slice(1);

    var type = last[0];

    var out = [];

    if ( type === "@" )
    {
        var roles_also = last[1] == "@";

        if ( roles_also ) 
        {
            var set = roles;
        }
        else 
        {
            var set = members
        }

        document.getElementById("mention-input" + i).style.visibility = "visible";

        for ( key in set )
        {
            if ( key.includes(name) )
            {
                out.push("@" + key);
            }
        }
    }
    else if ( type === "#" )
    {
        document.getElementById("mention-input" + i).style.visibility = "visible";

        for (key in channels)
        {
            if ( key.includes(name) )
            {
                out.push("#" + key);
            }
        }
    }
    else
    {
        document.getElementById("mention-input" + i).style.visibility = "hidden";
    }

    document.getElementById("dropdown-mention" + i).innerHTML = "";

    out.sort();

    for (el in out)
    {
        var name_n = out[el];
        if ( type === "@" )
        {
            if ( last[1] === "@" ) 
            {
                var id = roles[name_n.slice(1)];
            }
            else
            {
                var id = members[name_n.slice(1)];
            }
            document.getElementById("dropdown-mention" + i).innerHTML += `<li><a onclick="javascript:mention('<@${id}>', '${i}')">${name_n}</a></li>`;
        }
        else
        {
            var id = channels[name_n.slice(1)];
            document.getElementById("dropdown-mention" + i).innerHTML += `<li><a onclick="javascript:mention('<#${id}>', '${i}')">${name_n}</a></li>`;
        }
    }
}

{% for reminder in reminders %}
    
    function m{{ reminder.uid }}(e) {
        manage_characters(e, "{{ reminder.uid }}");
    }

    document.getElementById("input-message{{ reminder.uid }}").addEventListener("input", m{{ reminder.uid }});

{% endfor %}

function m(e) {
    manage_characters(e, "");
}

document.getElementById("input-message").addEventListener("input", m);

{% endif %}

function send_delete(reminder)
{
    let xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
            location.reload();
        }
    };
    xhttp.open("GET", "{{ url_for('delete') }}" + "?index=" + reminder, true);
    xhttp.send();
}

function send_delete_i(reminder, interval)
{
    let xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
            location.reload();
        }
    };
    xhttp.open("GET", "{{ url_for('delete_interval') }}" + "?reminder=" + reminder + "&interval=" + interval, true);
    xhttp.send();
}

function toggle_enabled(reminder)
{
    let xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
            location.reload();
        }
    };
    xhttp.open("GET", "{{ url_for('toggle_enabled') }}" + "?reminder=" + reminder, true);
    xhttp.send();
}

        </script>

{% endblock %}