<html>
    <form method="post" action="{{ url_for('change_reminder', redirect=server.id, index=reminder['index']) }}" onsubmit="return validate_input()" novalidate>
        <div class="modal-header">
            <h4>Edit Reminder</h4>
        </div>
        <div class="modal-body">
            <div id="modal">
                <!-- This div is for writing error messages into DO NOT DELETE -->
            </div>

            <div class="form-group">
                <label>Message:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    {% if patreon > 1 %}
                    <textarea type="text" name="message_new" class="form-control pull-right" maxlength="2000" id="input-message" value="{{ reminder['message'] }}" required></textarea>
                    {% else %}
                    <textarea type="text" name="message_new" class="form-control pull-right" maxlength="200" id="input-message" value="{{ reminder['message'] }}" required></textarea>
                    {% endif %}
                </div>
                <div class="input-group" id="mention-input" style="visibility: hidden;">
                    <div class="input-group-addon">
                        <i class="fas fa-at"></i>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Mention... (hint: use a double @ to get roles)
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-mention" id="dropdown-mention" style="max-height: 40vh; overflow-y: scroll;">
                        </ul>
                    </div>
                </div>
                <!-- /.input group -->
            </div>

            <!-- CHANNEL -->
            <div class="form-group">
                <label>Channel:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas fa-comment-alt"></i>
                    </div>
                    <input type="text" name="channel_new" id="input-channel" value="{{ reminder['channel']['id'] }}" hidden required>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-channel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            reminder['channel']['name']
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-channel">
                            {% for channel in channels %}
                                <li><a onclick="javascript:change_channel('{{ channel['id'] }}', '{{ channel['name'] }}')">{{ channel['name'] }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- /.input group -->
            </div>

            <div class="form-group">
                <label>Username (optional):</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas fa-file-signature"></i>
                    </div>
                    <input type="text" class="form-control pull-right" name="username" maxlength="32"></input>
                </div>
            </div>

            <input name="time_new" value="0" id="time_new" hidden></input>

            <!-- DATE -->
            <div class="form-group">
                <label>Date:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="datepicker" name="date"></input>
                </div>
                <!-- /.input group -->
            </div>
            <!-- TIME -->
            <div class="bootstrap-timepicker">
                <div class="form-group">
                    <label>Time:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fas fa-clock"></i>
                        </div>
                        <input type="text" class="form-control timepicker" id="timepicker" name="time"></input>
                    </div>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->
            </div>

            {% if patreon > 0 %}
            <div class="bootstrap-timepicker">
                <div class="form-group">
                    <label>Interval (seconds, optional):</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fas fa-clock"></i>
                        </div>
                        <input type="number" class="form-control pull-right" name="interval_new"></input>
                    </div>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->
            </div>

                <div class="form-group">
                    <label>Send as Embed?</label>
                    <div class="input-group">
                        <input type="checkbox" id="checkb" name="embed" onclick="toggle_colorpicker()"></input>
                    </div>
                </div>

                <div class="colorpicker-component" id="colorpicker">
                    <div class="form-group">
                        <label>Embed Color:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-palette"></i>
                            </div>
                            <div id="cp2" class="input-group">
                                <input type="text" value="#00A65A" class="form-control" name="color"></input>
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if patreon > 1 %}
                    <div class="form-group">
                        <label>Avatar (provide a direct link, optional):</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-camera"></i>
                            </div>
                            <input type="text" class="form-control pull-right" name="avatar"></input>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </form>

    <script>


var channels = {
    {% for channel in channels %}
    "{{ channel['name'] }}": "{{ channel['id'] }}",
    {% endfor %}
};

var members = {
    {% for member in members %}
    "{{ member['user']['username'].lower() }}": "{{ member['user']['id'] }}",
    {% endfor %}
};

var roles = {
    {% for role in roles %}
    "@{{ role['name'].lower() }}": "&{{ role['id'] }}",
    {% endfor %}
};


$(function() {
    $('#cp2').colorpicker({"format": "hex"});
});

//Date picker
$('#datepicker').datepicker({
    format: 'yyyy/mm/dd',
    autoclose: true
})

$('#datepicker').datepicker('update', new Date());
//Timepicker
$('.timepicker').timepicker({
    minuteStep: 1,
    showInputs: false,
    showSeconds: true,
})

$("#datepicker").change(update_time);
$("#timepicker").change(update_time);


function update_time()
{
    t_time = document.getElementById("timepicker");
    d_time = document.getElementById("datepicker");

    m = moment(d_time.value + ' ' + t_time.value, 'YYYY/MM/DD HH:mm:ss A')

    document.getElementById("time_new").value = m.unix();
}

update_time();

function change_channel(id, name, index)
{

    if (index === undefined)
    {
        document.getElementById('input-channel').value = id;
        document.getElementById('dropdown-channel').innerHTML = name + "<span class=\"caret\"></span>";
    }
    else
    {
        document.getElementById('input-channel-' + index).value = id;
        document.getElementById('dropdown-channel-' + index).innerHTML = name + "<span class=\"caret\"></span>";
    }
}

function change_tz(timezone)
{
    document.getElementById('timezone').value = timezone;
    document.getElementById('dropdown-timezone').innerHTML = timezone + "<span class=\"caret\"></span>"
}

function send_delete(index)
{
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            location.reload(true);
        }
    };
    xhttp.open("GET", "{{ url_for('delete') }}" + "?index=" + index, true);
    xhttp.send();
}

function validate_input()
{
    message = document.getElementById('input-message');
    channel = document.getElementById('input-channel');

    modal = document.getElementById('modal');

    modal.innerHTML = '';

    failed = false;

    if (message.value == '')
    {
        a = document.createElement('div');
        a.className = 'alert alert-danger';
        a.innerHTML = 'Please add a message';
        modal.appendChild(a);

        failed = true;
    }
    if (channel.value == '')
    {
        a = document.createElement('div');
        a.className = 'alert alert-danger';
        a.innerHTML = 'Please add a channel';
        modal.appendChild(a);

        failed = true;
    }

    return !failed;
}

function mention(id)
{
    var value = document.getElementById("input-message").value;
    value = value.split(" ").slice(0, -1).join(" ") + " " + id;
    document.getElementById("input-message").value = value;
}

function manage_characters(e)
{
    var text = e.target.value;
    var parts = text.split(" ");
    var last = parts[parts.length-1].toLowerCase();
    var name = last.slice(1);

    var type = last[0];

    var out = [];

    if ( type === "@" )
    {
        var roles_also = last[1] == "@";

        if ( roles_also ) 
        {
            var set = roles;
        }
        else 
        {
            var set = members
        }

        document.getElementById("mention-input").style.visibility = "visible";

        for ( key in set )
        {
            if ( key.includes(name) )
            {
                out.push("@" + key);
            }
        }
    }
    else if ( type === "#" )
    {
        document.getElementById("mention-input").style.visibility = "visible";

        for (key in channels)
        {
            if ( key.includes(name) )
            {
                out.push("#" + key);
            }
        }
    }
    else
    {
        document.getElementById("mention-input").style.visibility = "hidden";
    }

    document.getElementById("dropdown-mention").innerHTML = "";

    out.sort();

    for (el in out)
    {
        var name_n = out[el];
        if ( type === "@" )
        {
            if ( last[1] === "@" ) 
            {
                var id = roles[name_n.slice(1)];
            }
            else
            {
                var id = members[name_n.slice(1)];
            }
            document.getElementById("dropdown-mention").innerHTML += `<li><a onclick="javascript:mention('<@${id}>')">${name_n}</a></li>`;
        }
        else
        {
            var id = channels[name_n.slice(1)];
            document.getElementById("dropdown-mention").innerHTML += `<li><a onclick="javascript:mention('<#${id}>')">${name_n}</a></li>`;
        }
    }
}

{% if server != None %}
function toggle_colorpicker()
{
    check = document.getElementById("checkb");
    if (check.checked)
    {
        document.getElementById("colorpicker").style.opacity = 1;
    }
    else
    {
        document.getElementById("colorpicker").style.opacity = 0;
    }
}
toggle_colorpicker();
{% endif %}

document.getElementById("input-message").addEventListener("input", manage_characters);

$(document).ready(function(){
    // Initialize
    $('[data-toggle="tooltip"]').tooltip();
});

    </script>
</html>
