{% extends "base.html" %}

{% set title = "Home" %}

{% block content %}

    <section class="hero is-small is-dark">
        <div class="hero-body">
            <div class="">
                <h1 class="title is-1">Reminder Bot</h1>
                <h2 class="subtitle is-3">Powerful Discord Reminders <span class="icon"><i class="fad fa-hourglass-half"></i></span></h2>
            </div>
        </div>

        <div class="hero-foot has-text-centered">
            <a class="button is-size-4 is-rounded is-success" href="https://invite.reminder-bot.com">
                <p class="is-size-4">
                    Add to your Server <span class="icon"><i class="fas fa-chevron-right"></i></span>
                </p>
            </a>
        </div>
    </section>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#98dc9a" fill-opacity="1" d="M0,288L80,266.7C160,245,320,203,480,202.7C640,203,800,245,960,218.7C1120,192,1280,96,1360,48L1440,0L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
        <path fill="#363636" fill-opacity="1" d="M0,224L60,202.7C120,181,240,139,360,138.7C480,139,600,181,720,197.3C840,213,960,203,1080,176C1200,149,1320,107,1380,85.3L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
        </path>
    </svg>

    <section class="hero is-small">
        <div class="hero-body">
            <div class="">
                <h3 class="title">Slash-command Ready <svg aria-hidden="false" width="28" height="28" viewBox="0 0 24 24"><path fill="#777" fill-rule="evenodd" clip-rule="evenodd" d="M5 3C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5ZM16.8995 8.41419L15.4853 6.99998L7 15.4853L8.41421 16.8995L16.8995 8.41419Z"></path></svg></h3>
                <h4 class="subtitle">Set reminders easily and quickly from anywhere</h4>
            </div>
        </div>
    </section>

    <section class="hero is-small">
        <div class="hero-body">
            <div class="has-text-right">
                <p class="title"><span class="icon"><i class="far fa-infinity"></i></span> Unlimited Reminders</p>
                <p class="subtitle">Never forget a thing</p>
            </div>
        </div>
    </section>

    <section class="hero is-small">
        <div class="hero-body">
            <div class="">
                <p class="title">Advanced Message Options <span class="icon"><i class="fad fa-palette"></i></span></p>
                <p class="subtitle">Decorate your announcements</p>
            </div>
        </div>
    </section>

    <section class="hero is-small">
        <div class="hero-body">
            <div class="has-text-right">
                <p class="title"><span class="icon"><i class="fas fa-repeat"></i></span> Repeating Reminders</p>
                <p class="subtitle">Available to <a href="https://patreon.com/jellywx"><span class="patreon-color">Patreon <span class="icon"><i class="fab fa-patreon"></i></span></span></a> subscribers at <strong>$2/month</strong></p>
            </div>
        </div>
    </section>

{% endblock %}