<form method="post" action="{{ form_action }}" onsubmit="return validate_input()" id="form1" novalidate>
    <div class="modal-header">
        <h4>{{ action }} Reminder</h4>
    </div>
    <div class="modal-body">
        <div id="modal">
            <!-- This div is for writing error messages into DO NOT DELETE -->
        </div>

        <div class="form-group">
            <label>Message:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </div>
                {% if patreon > 1 %}
                <textarea type="text" name="message_new" class="form-control pull-right" maxlength="1900" id="input-message" required></textarea>
                {% else %}
                <textarea type="text" name="message_new" class="form-control pull-right" maxlength="200" id="input-message" required></textarea>
                {% endif %}
            </div>
            <div class="input-group" id="mention-input" style="visibility: hidden;">
                <div class="input-group-addon">
                    <i class="fas fa-at"></i>
                </div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Mention... (hint: use a double @ to get roles)
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdown-mention" id="dropdown-mention" style="max-height: 40vh; overflow-y: scroll;">
                    </ul>
                </div>
            </div>
            <!-- /.input group -->
        </div>

        <!-- CHANNEL -->
        {% if server != None %}
        <div class="form-group">
            <label>Channel:</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fas fa-comment-alt"></i>
                </div>
                <input type="text" name="channel_new" id="input-channel" hidden required>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-channel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Select One
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdown-channel">
                        {% for channel in channels %}
                            <li><a onclick="javascript:change_channel('{{ channel['id'] }}', '{{ channel['name'] }}')">{{ channel['name'] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /.input group -->
        </div>

        <div class="form-group">
            <label>Username (optional):</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fas fa-file-signature"></i>
                </div>
                <input type="text" class="form-control pull-right" name="username" maxlength="32"></input>
            </div>
        </div>

        {% else %}
        <input type="text" name="channel_new" value="{{ channels[0]['id'] }}" id="input-channel" hidden required>
        {% endif %}

        <input name="time_new" value="0" id="time_new" hidden></input>

        <!-- DATE -->
        <div class="form-group">
            <label>Date:</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" id="datepicker" name="date"></input>
            </div>
            <!-- /.input group -->
        </div>
        <!-- TIME -->
        <div class="bootstrap-timepicker">
            <div class="form-group">
                <label>Time:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas fa-clock"></i>
                    </div>
                    <input type="text" class="form-control timepicker" id="timepicker" name="time"></input>
                </div>
                <!-- /.input group -->
            </div>
            <!-- /.form group -->
        </div>

        {% if patreon > 0 %}
        <div class="bootstrap-timepicker">
            <div class="form-group">
                <label>Interval (seconds, optional):</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fas fa-clock"></i>
                    </div>
                    <input type="number" class="form-control pull-right" name="interval_new"></input>
                </div>
                <!-- /.input group -->
            </div>
            <!-- /.form group -->
        </div>

            {% if server != None %}
                <div class="form-group">
                    <label>Send as Embed?</label>
                    <div class="input-group">
                        <input type="checkbox" id="checkb" name="embed" onclick="toggle_colorpicker()"></input>
                    </div>
                </div>

                <div class="colorpicker-component" id="colorpicker">
                    <div class="form-group">
                        <label>Embed Color:</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-palette"></i>
                            </div>
                            <div id="cp2" class="input-group">
                                <input type="text" value="#00A65A" class="form-control" name="color"></input>
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if patreon > 1 %}
                    <div class="form-group">
                        <label>Avatar (provide a direct link, optional):</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fas fa-camera"></i>
                            </div>
                            <input type="text" class="form-control pull-right" name="avatar"></input>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</form>
