{% extends "base.html" %}
{% block content %}

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-1 col-lg-3 d-none d-md-block">
                    <!-- padding block -->
                </div>

                <div class="col-sm-12 col-md-10 col-lg-6">

                    <div class="d-flex justify-content-center">
                        <img src="{{ logo }}" class="rounded-circle" style="width: 18vw; height: 18vw; margin: 2rem;"></img>
                    </div>

                    <div style="text-align: center;">
                        {{ content|safe }}
                    </div>

                </div>

            </div>

{% endblock %}
